    <div class = 'main-content'>
        <div class = 'flex-boxes'>
            <div class = 'flex-headings'>
                <div id = 'center-heading' style="width: 60%;"><h2 id = 'center-heading'>Patient Details</h2></div>
                <div style="position:absolute;"><button class = 'buttons back-button' onclick = 'history.back()'>Go Back</button></div>
            </div>
        </div>
        
        <div class = 'flex-boxes'>
            <div class = 'flex-view-profile-content'>
                <div class = 'flex-profile-photo'>

                </div>

                <div class = 'flex-profile-content'>
                    <div class = 'flex-profile-content-buttons'>
                        <div class = 'button1' onclick ="viewPatientUpcomingAppointments()" id = 'upcoming' style="background-color: #2fbb8fa8; font-weight: 600;"><a>Upcoming Appointments</a></div>
                        <div class = 'button1' onclick ="viewPatientPastAppointments()" id = 'past'><a>Past Appointments</a></div>
                        <div class = 'button1' onclick ="sendMessageToPatient()" id = 'message'><a>Send a Message</a></div>
                    </div>

                    <div id = 'view-upcoming-appointments'>

                    </div>

                    <div id = 'view-past-appointments' style="display: none;">

                    </div>

                    <div class = 'flex-message-div' id = 'send-message-to-patient' style="display: none;">

                    </div>
                </div>
            </div>
        </div>
    </div>





admin view department

    <div class = 'main-content' style="display: none;">
        <div class = 'flex-boxes'>
            <div class = 'flex-headings'>
                <div id = 'center-heading' ><h2 id = 'center-heading'>Department Details</h2></div>
                <div><a href = '/admin/department/update/{{ department.department_id }}' class = 'update-button'>Update</a></div>
                <div><a href = '/admin/department/delete/{{ department.department_id }}' onclick="confirmDelete()" class = 'delete-button'>Delete</a></div>
                <div><button class = 'buttons back-button' onclick = 'history.back()'>Go Back</button></div>
            </div>

            <div class = 'flex-view-profile-content'>
                <div class = 'flex-profile-photo'><p></p>
                    <img src = '/static/images/{{ department.department_profile_picture }}.png' alt = 'Department Image' width="170px">
                    <h3>Department of {{ department.department_name }}</h3>
                </div>

                <div class = 'flex-profile-content'>
                    <div class = 'flex-profile-content-buttons'>
                        <div class = 'button1' onclick ="viewPatientUpcomingAppointments()" id = 'upcoming' style="background-color: #2fbb8fa8;"><a>Department Description</a></div>
                        <div class = 'button1' onclick ="viewPatientPastAppointments()" id = 'past'><a>Upcoming Appointments</a></div>
                        <div class = 'button1' onclick ="sendMessageToPatient()" id = 'message'><a>Past Appointments</a></div>

                    </div>

                    <div id = 'view-upcoming-appointments'>
                        <p>{{ department.department_description }}</p>

                        {% for d in department.doctors %}
                            <div>
                                <h3><a href = '/admin/doctor/{{ d.doctor_id }}'>{{ d.doctor_name }}</a></h3>
                                <p>{{ d.doctor_desc }}</p>
                            </div>
                        {% endfor %}                        

                    </div>

                    <div id = 'view-past-appointments' style="display: none;">
                        {% if upcoming_dept_appointments | length > 0 %} 
                            <ol>
                            {% for a in upcoming_dept_appointments %}
                                <li>
                                    <p><strong><em>Appointment ID:</em></strong> {{ a.appointment_id }}</p>
                                    <p><strong>Date:</strong> {{ a.date_time.strftime('%d/%m/%Y') }}</p>
                                    <p><a href = '/admin/doctor/{{ a.d_ref.doctor_id }}'><strong>Patient:</strong> {{ a.p_ref.patient_name }}</a></p>
                                </li>
                            {% endfor %}
                            </ol>
                        {% else %}
                            <p><em>No upcoming appointments to show</em></p>
                        {% endif %}
                    </div>

                    <div id = 'send-message-to-patient' style="display: none;">
                        {% if past_dept_appointments | length > 0 %} 
                            <ol>
                            {% for a in past_dept_appointments %}
                                <li>
                                    <p><strong><em>Appointment ID:</em></strong> {{ a.appointment_id }}</p>
                                    <p><strong>Date:</strong> {{ a.date_time.strftime('%d/%m/%Y') }}</p>
                                    <p><strong>Patient:</strong> <a href = '/admin/doctor/{{ a.d_ref.doctor_id }}'>{{ a.p_ref.patient_name }}</a></p>
                                    <p><strong>Diagnosis:</strong> {{ a.t.diagnosis }}</p>
                                    <p><strong>Tests:</strong> {{ a.t.notes }}</p>
                                    <p><strong>Prescription:</strong> {{ a.t.prescription }}</p>
                                    <p><strong>Tests:</strong> {{ a.t.tests }}</p>
                                </li>
                            {% endfor %}
                            </ol>
                        {% else %}
                            <p><em>No past appointments to show</em></p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>