<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        <h1><a href = '/admin'>LDH Hospital</a></h1>

        <div class = 'search_bar'>            
            <form action = '/admin/search' method = 'POST'>
                <div>
                    <input type = 'text' list = 'search_list' placeholder ="Enter ID, Number or Name" name = 'query'>

                    <datalist id = 'search_list'>
                        {% for patient in patients %}
                            <option value = '{{patient.patient_name}}'>{{patient.patient_name}}</option>
                        {% endfor %}

                        {% for doctor in doctors %}
                            <option value = '{{doctor.doctor_name}}'>{{doctor.doctor_name}}</option>
                        {% endfor %}

                        {% for dept in departments %}
                            <option value = '{{dept.department_name}}'>{{dept.department_name}}</option>
                        {% endfor %}
                    </datalist>

                    <input type ="submit" value = "Search">
                </div>
            </form>
        </div>
    </header>
        <div class = 'main-content'>

        </div>

    <footer>
        &copy;  2025 LDH Hospital
    </footer>
</body>
</html>


DOCTOR DASH


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        <div class = 'heading-actions'>
            <h1><a class = 'page_heading_hyperlink' href = '/doctor/{{ doctor.doctor_id }}'>LDH Hospital</a></h1>

            <div class = 'action-buttons'>
                <div class = 'search_bar'>
                    
                    <form action = '/doctor/{{ doctor.doctor_id }}/search' method = 'POST'>
                        <div>
                            <input type = 'text' list = 'search_list' placeholder ="Enter ID, Number or Name" name = 'query'>
                            <input type ="submit" value = "Search">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>

        <div class = 'main-content'>

        </div>

    <footer>
        &copy;  2025 LDH Hospital
    </footer>
</body>
</html>



Patient 


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        <div class = 'heading-actions'>
            <h1><a class = 'page_heading_hyperlink' href = '/patient/{{ current_user.patient_relationship.patient_id }}'>LDH Hospital</a></h1>

            <div class = 'action-buttons'>
                <div class = 'search_bar'>
                    
                    <form action = '/patient/{{ current_user.patient_relationship.patient_id }}/search' method = 'POST'>
                        <div class = 'flex-container'>  
                            <div>                          
                                <a href = '/patient/{{ current_user.patient_relationship.patient_id }}/notification-page'><i id = 'notification-bell' class="bi bi-bell-fill"></i></a>
                            </div>
                            <div class = 'search-flex-container'>
                                <div><input type = 'text' placeholder ="Enter Number or Name" name = 'query' id = 'search_bar'></div>
                                <div><button type="submit" id = 'search-icon'><i class="bi bi-search"></i></button></div>
                            </div>
                            <div>
                                <a href = '/logout'><i id = 'logout-button' class="bi bi-box-arrow-right"></i><span id = 'logout-button'>Logout</span></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>

        <div class = 'main-content'>

        </div>

    <footer>
        &copy;  2025 LDH Hospital
    </footer>
</body>
</html>

page_heading_hyperlink

-- Get one slot, one availability, one doctor
da_dict = {}
doctor = db.get_or_404(Doctor, did)
list_of_next_7_dates = [(date_today + timedelta(days = i)) for i in range(1,8)]
slots = Slot.query.all()
doctor_slots = SlotSchedules.query.filter(and_(SlotSchedules.slot_doctor_id == doctor.doctor_id, SlotSchedules.date >= date_today)).order_by(SlotSchedules.date, SlotSchedules.schedule_slot_id).all()
for d in list_of_next_7_dates:
    da_dict[d] = {}
    for s in slots:
        query = SlotSchedules.query.filter(SlotSchedules.date == d, SlotSchedules.schedule_slot_id == s.slot_id, SlotSchedules.slot_doctor_id == doctor.doctor_id).first()
        da_dict[d][s] = query
