<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notify Admin about Profile Change</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <header>
        <div class = 'heading-actions'>
            <h1><a class = 'page_heading_hyperlink' href = '/patient/{{ patient.patient_id }}'>LDH Hospital</a></h1>

            <div class = 'action-buttons'>
                <div class = 'search_bar'>
                    
                    <form action = '/patient/{{ patient.patient_id }}/search' method = 'POST'>
                        <div>
                            <input type = 'text' list = 'search_list' placeholder ="Enter Number or Name" name = 'query'>
                            <input type ="submit" value = "Search">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>

        <div class = 'main-content'>
            <div>
                <h2 class = 'centered-headings'>Send Message to Admin</h2>
            </div>

            <div class = 'main-content' id = 'align-items-in-centre'>
                <div class = 'wrapper'>
                    <div class = 'profile-picture-display'>
                        <img src = '/static/images/{{ patient_profile_picture }}.png' alt = 'Patient Profile Picture' width="170px">
                        <p><strong>Patient Name:</strong> {{ patient.patient_name }}</p>
                        <p><strong>DOB:</strong> {{ patient.patient_dob.strftime('%d/%m/%Y') }}</p>
                        <p><strong>Age:</strong> {{ patient.patient_age }}</p>
                        <p><strong>Email:</strong> {{ patient.patient_email }}</p>
                        <p><strong>Contact Number:</strong> {{ patient.contact_info }}</p>
                    </div>

                    <div class = 'profile-content'>
                        <div class = 'login-container'>
                            <h3>Message</h3>
                            <div>
                                <p>Name: {{ patient.patient_name }}</p>
                                <p>Date: {{ date_today.strftime('%d/%m/%Y') }}</p>
                            
                            <form action = '/patient/{{ patient.patient_id }}/send-message-to-admin' method = 'POST'>
                                <div class = 'update-form-details'>
                                    <label for = 'message'>Type Your Message: </label>
                                    <input type = 'text' name = 'message' placeholder="Type Your Message" >
                                </div>
                                
                                <input onclick = 'confirm_posting_message()' type ="submit" value = "Send" class = 'login-button'>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    <script>
        function confirm_posting_message() {
            var result = confirm('Do you want to send this message to Admin?');
            if (result == false) {
                event.preventDefault();
            }
        }
    </script>
    <footer>
        &copy;  2025 LDH Hospital
    </footer>
</body>
</html>