<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm Appointment</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        <div class = 'heading-actions'>
            <h1>LDH Hospital</h1>

            <div class = 'action-buttons'>
                <div class = 'search_bar'>
                    
                    <form action = '/patient/{{ patient.patient_id }}/search' method = 'POST'>
                        <div>
                            <input type = 'text' list = 'search_list' placeholder ="Enter Number or Name" name = 'query'>
                            <input type ="submit" value = "Search">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>

        <div class = 'main-content'>
            <p>{{ doctor.doctor_name }}</p>
            <div>
                <form action = '/patient/{{ patient.patient_id }}/confirm-appointment/{{ doctor.doctor_id }}' method = 'POST'>
                    
                    <input type = 'text' class = 'patient_name' list = 'patient_list' autocomplete="on" placeholder="Patient Name" name = 'patient_name'>

                    <datalist id = 'patient_list'>
                        {% for patient in patients %}
                            <option value = '{{patient.patient_name}}'>{{patient.patient_name}}</option>
                        {% endfor %}
                    </datalist>

                    {% for s in doctor_slots %}
                        <div>
                            <label>{{ s.date.strftime('%d/%m/%Y') }}</label>
                            <input type = 'checkbox' value = '{{ s.schedule_id }}' name = '{{ s.schedule_id }}'>{{ s.s_sch.slot_time }}
                        </div>
                    {% endfor %}

                    <input type="submit" value = "Submit" class = "login-button">

                    {% if flag == True %}
                        <p>Incorrect Patient Name, Try Again</p>
                    {% endif %}
                </form>
            </div>

        </div>

    <footer>
        &copy;  2025 LDH Hospital
    </footer>
</body>
</html>