<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notification Page</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <header>
        <div class = 'heading-actions'>
            <h1>LDH Hospital</h1>

            <div class = 'action-buttons'>
                <div class = 'search_bar'>
                    
                    <form action = '/patient/{{ patient.patient_id }}/search' method = 'POST'>
                        <div>
                            <input type = 'text' list = 'search_list' placeholder ="Enter Number or Name" name = 'query'>
                            <input type ="submit" value = "Search">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>

        <div class = 'main-content'>
            <h3>Patient Notification Page</h3>
            {% if all_admin_notifications | length != 0 %}
                <h3>Notifications From Admin</h3>
                <ol>
                    {% for a in all_admin_notifications %}
                        <li>
                            <p>{{ a.admin_patient_message_type }}</p>
                            <p>{{ a.admin_patient_message_content }}</p>
                        </li>
                    {% endfor %}
                </ol>
            {% endif %}

            {% if all_doctor_notifications | length != 0 %}
                <h3>Notifications From Doctors</h3>
                <ol>
                    {% for a in all_doctor_notifications %}
                        <li>
                            <p>{{ a.message_type }}</p>
                            <p>{{ a.message_content }}</p>
                        </li>
                    {% endfor %}
                </ol>
            {% endif %}

            {% if all_availibility_notifications | length != 0 %}
                <h3>Notifications From Doctors</h3>
                    {% for a in all_availibility_notifications %}
                        <p>Dr. {{ a.notif_doctor.doctor_name }} has provided availabilty. Book Now!</p>
                    {% endfor %}
            {% endif %}
        </div>

    <footer>
        &copy;  2025 LDH Hospital
    </footer>
</body>
</html>