<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notification Page</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src = '/static/script.js'></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <header>
        <div class = 'heading-actions'>
            <h1><a class = 'page_heading_hyperlink' href = '/patient/{{ current_user.patient_relationship.patient_id }}'>LDH Hospital</a></h1>

            <div class = 'action-buttons'>
                <div class = 'search_bar'>
                    
                    <form action = '/patient/{{ current_user.patient_relationship.patient_id }}/search' method = 'POST'>
                        <div class = 'flex-container'>  
                            <div>                          
                                <a href = '/patient/{{ current_user.patient_relationship.patient_id }}/notification-page'><i id = 'notification-bell' class="bi bi-bell-fill"></i></a>
                            </div>
                            <div class = 'search-flex-container'>
                                <div><input type = 'text' placeholder ="Enter Number or Name" name = 'query' id = 'search_bar'
                                    pattern="[\w ]{1,}" title="Please add a valid input. You can only use numbers and alphabets"></div>
                                <div><button type="submit" id = 'search-icon'><i class="bi bi-search"></i></button></div>
                            </div>
                            <div>
                                <a href = '/logout' onclick="ConfirmLogout()"><i id = 'logout-button' class="bi bi-box-arrow-right" style="font-size: 23px;" onclick="ConfirmLogout()"></i></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>

        <div class = 'main-content'>
            <div class = 'heading-actions'>
                <h2>Notification Page</h2>

                <div class = 'action-buttons'>
                    <div><button class = 'back-button' onclick = 'history.back()'>Go Back</button></div>
                </div>
            </div>

            <div class = 'notification-page-container'>

                <h3 class = 'notification-page-heading'>Notifications From Admin</h3>
                <div class = 'notification-page-button-ribbon'>
                    <div id = 'un-adm' class = 'notification-page-button' onclick = 'view_unread_admin_notifactions()' style = 'background-color: #2fbb8fa8;font-weight: 600;'>Unread notifications</div>
                    <div id = 'r-adm' class = 'notification-page-button' onclick = 'view_read_admin_notifactions()'>Read notifications</div>
                </div>

                <div class = 'notification-page-content' id = 'unread-admin'>
                    {% if unread_admin_notifications | length != 0 %}
                        <ol>
                            {% for a in unread_admin_notifications %}
                                <li>
                                    <p><em><strong>{{ a.admin_patient_message_type }}</strong></em></p>
                                    <p>Date: {{ a.message_date_time.strftime('%d/%m/%Y')}}</p>
                                    <p>{{ a.admin_patient_message_content }}</p>
                                </li>
                            {% endfor %}
                        </ol>
                    {% else %}
                        <p><em>No unread notifications to show</em></p>
                    {% endif %}
                </div>

                <div  id = 'read-admin' class = 'notification-page-content' style="display: none;">
                    {% if read_admin_notifications | length != 0 %}
                        <ol>
                            {% for a in read_admin_notifications %}
                                <p><em><strong>{{ a.admin_patient_message_type }}</strong></em></p>
                                <p>Date: {{ a.message_date_time.strftime('%d/%m/%Y')}}</p>
                                <p>{{ a.admin_patient_message_content }}</p>
                            </li>
                            {% endfor %}
                        </ol>
                    {% else %}
                        p><em>No read notifications to show</em></p>
                    {% endif %}
                </div>

                
            </div>

            <div class = 'notification-page-container'>
                <h3 class ='notification-page-heading'>Notifications From Doctors</h3>
                <div class = 'notification-page-button-ribbon'>
                    <div id = 'un-pat' class = 'notification-page-button' onclick = 'view_unread_patient_notifications()' style = 'background-color: #2fbb8fa8; font-weight: 600;'>Unread notifications</div>
                    <div id = 'r-pat' class = 'notification-page-button' onclick = 'view_read_patient_notifications()'>Read notifications</div>
                </div>

                <div id = 'unread-patient' class = 'notification-page-content'>
                    {% if unread_doctor_notifications != [] %}
                        <ol>
                            {% for a in unread_doctor_notifications %}
                                <li>
                                    <p><em><strong>Dr. {{ a.pdn_doctor.doctor_name }}</strong></em></p>
                                    <p>{{ a.message_type }}</p>
                                    <p>Date: {{ a.message_date_time.strftime('%d/%m/%Y')}}</p>
                                    <p>{{ a.message_content }}</p>
                                </li>
                            {% endfor %}
                        </ol>
                    {% else %}
                        <p><em>No unread notifications to show</em></p>
                    {% endif %}
                </div>

                <div  id = 'read-patient' class = 'notification-page-content' style="display: none;">
                    {% if read_doctor_notifications != [] %}
                        <ol>
                            {% for a in read_doctor_notifications %}
                                <li>
                                    <p><em><strong>From Dr. {{ a.pdn_doctor.doctor_name }}</strong></em></p>
                                    <p>{{ a.message_type }}</p>
                                    <p>Date: {{ a.message_date_time.strftime('%d/%m/%Y')}}</p>
                                    <p>{{ a.message_content }}</p>
                                </li>
                            {% endfor %}
                        </ol>
                    {% else %}
                        <p><em>No read notifications to show</em></p>
                    {% endif %}
                </div>                   
            </div>    

            <div class = 'notification-page-container'>
                <h3 class = 'notification-page-heading'>Availability Notifications From Doctors</h3>
                <div class = 'notification-page-button-ribbon'>
                    <div id = 'un-avail'class = 'notification-page-button' onclick="view_unread_availability_notifactions()" style= 'background-color: #2fbb8fa8; font-weight: 600;'>Unread Availability Notifications</div>
                    <div id = 'r-avail' class = 'notification-page-button' onclick="view_read_availability_notifactions()">Read Availability Notifications</div>
                </div>

                <div class = 'notification-page-content' id = 'unread-avail'>
                    {% if unread_availibility_notifications != [] %}
                        <ol>
                            {% for a in unread_availibility_notifications %}
                                <li>
                                    <p><em><strong>Dr. {{ a.notif_doctor.doctor_name }} has provided availabilty. Book Now!</strong></em></p>
                                    <p>Date: {{ a.message_date_time.strftime('%d/%m/%Y')}}</p>
                                </li>
                            {% endfor %}
                        </ol>
                    {% else %}
                        <p><em>No unread notifications to show</em></p>
                    {% endif %}                
                </div>

                <div class = 'notification-page-content' id = 'read-avail' style="display: none;">
                    {% if read_availibility_notifications != [] %}
                        <ol>
                            {% for a in read_availibility_notifications %}
                                <li>
                                    <p><em><strong>Dr. {{ a.notif_doctor.doctor_name }} has provided availabilty. Book Now!</strong></em></p>
                                    <p>Date: {{ a.message_date_time.strftime('%d/%m/%Y')}}</p>
                                </li>
                            {% endfor %}
                        </ol>
                    {% else %}
                        <p><em>No read notifications to show</em></p>
                    {% endif %}
                </div>
            </div>
    </div>
    
    
    <script>
        var unread_admin_apt = document.getElementById('unread-admin')
        var read_admin_apt = document.getElementById('read-admin')
        var unread_patient_apt = document.getElementById('unread-patient')
        var read_patient_apt = document.getElementById('read-patient')
        var unread_availability_apt = document.getElementById('unread-avail')
        var read_availability_apt = document.getElementById('read-avail')

        var unread_admin_function_button = document.getElementById('un-adm')
        var read_admin_function_button = document.getElementById('r-adm')
        var unread_patient_function_button = document.getElementById('un-pat')
        var read_patient_function_button = document.getElementById('r-pat')
        var unread_availability_function_button = document.getElementById('un-avail')
        var read_availability_function_button = document.getElementById('r-avail')

        function view_unread_admin_notifactions() {
            unread_admin_apt.style.display = 'block';
            read_admin_apt.style.display = 'none';

            unread_admin_function_button.style.backgroundColor = '#2fbb8fa8';
            unread_admin_function_button.style.fontWeight = '600';
            read_admin_function_button.style.backgroundColor = '#269873a8';
            read_admin_function_button.style.fontWeight = 'normal';
        }

        function view_read_admin_notifactions() {
            unread_admin_apt.style.display = 'none';
            read_admin_apt.style.display = 'block';

            unread_admin_function_button.style.backgroundColor = '#269873a8';
            unread_admin_function_button.style.fontWeight = 'normal';
            read_admin_function_button.style.backgroundColor = '#2fbb8fa8';
            read_admin_function_button.style.fontWeight = '600';
        }

        function view_unread_patient_notifications() {
            unread_patient_apt.style.display = 'block';
            read_patient_apt.style.display = 'none';

            unread_patient_function_button.style.backgroundColor = '#2fbb8fa8';
            unread_patient_function_button.style.fontWeight = '600';
            read_patient_function_button.style.backgroundColor = '#269873a8';
            read_patient_function_button.style.fontWeight = 'normal';
        }

        function view_read_patient_notifications() {
            unread_patient_apt.style.display = 'none';
            read_patient_apt.style.display = 'block';

            unread_patient_function_button.style.backgroundColor = '#269873a8';
            unread_patient_function_button.style.fontWeight = 'normal';
            read_patient_function_button.style.backgroundColor = '#2fbb8fa8';
            read_patient_function_button.style.fontWeight = '600';
        }

        function view_unread_availability_notifactions () {
        unread_availability_apt.style.display = 'block';
        read_availability_apt.style.display = 'none';
        
        unread_availability_function_button.style.backgroundColor = '#2fbb8fa8';
        unread_availability_function_button.style.fontWeight = '600';
        read_availability_function_button.style.backgroundColor = '#269873a8';
        read_availability_function_button.style.fontWeight = 'normal';
        }

        function view_read_availability_notifactions () {
        unread_availability_apt.style.display = 'none';
        read_availability_apt.style.display = 'block';

        unread_availability_function_button.style.backgroundColor = '#269873a8';
        unread_availability_function_button.style.fontWeight = 'normal';
        read_availability_function_button.style.backgroundColor = '#2fbb8fa8';
        read_availability_function_button.style.fontWeight = '600';
        }
    </script>


    <footer>
        &copy;  2025 LDH Hospital
    </footer>
</body>
</html>