<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notification Page</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

    <header>
        <div class = 'heading-actions'>
            <h1><a class = 'page_heading_hyperlink' href = '/patient/{{ patient.patient_id }}'>LDH Hospital</a></h1>

            <div class = 'action-buttons'>
                <div class = 'search_bar'>
                    
                    <form action = '/patient/{{ patient.patient_id }}/search' method = 'POST'>
                        <div class = 'flex-container'>                            
                            <a href = '/patient/{{ patient.patient_id }}/notification-page' style="color: #f9e8c8; text-decoration: none; font-size: 20px; padding-bottom: 5px;"><i class="bi bi-bell-fill"></i></a>
                            <div class = 'search-flex-container'>
                                <input type = 'text' placeholder ="Enter Number or Name" name = 'query' style="border-radius: 0; gap:0; border-top-left-radius: 8px; border-bottom-left-radius: 8px;">
                                <button type="submit" style = "height:36px; border: none; background-color: #d75100; border-top-right-radius: 8px; border-bottom-right-radius: 8px; width: 30px; color: black;"><i class="bi bi-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>

        <div class = 'main-content'>
            <h3>Patient Notification Page</h3>

            <h3>Notifications From Admin</h3>
            <div class = 'flex-button'>
                <div><button class = 'buttons' onclick = 'view_unread_admin_notifactions()'>Unread Notifications from Admin</button></div>
                <div><button class = 'buttons' onclick = 'view_read_admin_notifactions()'>Read Notifications from Admin</button></div>
            </div>
            
            <div id = 'unread-admin' style = 'width: 100%; min-height: 300px;'>
                {% if unread_admin_notifications != [] %}
                    <ol>
                        {% for a in unread_admin_notifications %}
                            <li>
                                <p><em><strong>{{ a.admin_patient_message_type }}</strong></em></p>
                                <p>Date: {{ a.message_date_time.strftime('%d/%m/%Y')}}</p>
                                <p>{{ a.admin_patient_message_content }}</p>
                            </li>
                        {% endfor %}
                    </ol>
                {% else %}
                    <p><em>No unread notifications to show</em></p>
                {% endif %}
            </div>

            <div id = 'read-admin' style = 'display: none; width: 100%;min-height: 300px'>
                {% if read_admin_notifications != [] %}
                    <ol>
                        {% for a in read_admin_notifications %}
                            <li>
                                <p><em><strong>{{ a.admin_patient_message_type }}</strong></em></p>
                                <p>Date: {{ a.message_date_time.strftime('%d/%m/%Y')}}</p>
                                <p>{{ a.admin_patient_message_content }}</p>
                            </li>
                        {% endfor %}
                    </ol>
                {% else %}
                    <p><em>No read notifications to show</em></p>
                {% endif %}
            </div>

            <h3>Notifications From Doctors</h3>
            <div class = 'flex-button'>
                <div><button  onclick="view_unread_doctor_notifactions()" class = 'buttons'>Unread Notifications from Doctors</button></div>
                <div><button  onclick="view_read_doctor_notifactions()" class = 'buttons'>Read Notifications from Doctors</button></div>
            </div>

            <div id = 'unread-doctor' style = 'width: 100%;'>
                {% if unread_doctor_notifications != [] %}
                    <ol>
                        {% for a in unread_doctor_notifications %}
                            <li>
                                <p><em><strong>Dr. {{ a.pdn_doctor.doctor_name }}</strong></em></p>
                                <p>{{ a.message_type }}</p>
                                <p>Date: {{ a.message_date_time.strftime('%d/%m/%Y')}}</p>
                                <p>{{ a.message_content }}</p>
                            </li>
                        {% endfor %}
                    </ol>
                {% else %}
                    <p><em>No unread notifications to show</em></p>
                {% endif %}
            </div>

            <div id = 'read-doctor' style = 'display: none; width: 100%;'>
                {% if read_doctor_notifications != [] %}
                    <ol>
                        {% for a in read_doctor_notifications %}
                            <li>
                                <p><em><strong>From Dr. {{ a.pdn_doctor.doctor_name }}</strong></em></p>
                                <p>{{ a.message_type }}</p>
                                <p>Date: {{ a.message_date_time.strftime('%d/%m/%Y')}}</p>
                                <p>{{ a.message_content }}</p>
                            </li>
                        {% endfor %}
                    </ol>
                {% else %}
                    <p><em>No read notifications to show</em></p>
                {% endif %}
            </div>

            <h3>Availability Notifications From Doctors</h3>
            <div class = 'flex-button'>
                <div><button  onclick="view_unread_availability_notifactions()" class = 'buttons'>Unread Availability Notifications</button></div>
                <div><button  onclick="view_read_availability_notifactions()" class = 'buttons'>Read Availability Notifications</button></div>
            </div>

            <div id = 'unread-avail' style = 'width: 100%;'>
                {% if unread_availibility_notifications != [] %}
                    <ol>
                        {% for a in unread_availibility_notifications %}
                            <li>
                                <p><em><strong>Dr. {{ a.notif_doctor.doctor_name }} has provided availabilty. Book Now!</strong></em></p>
                                <p>Date: {{ a.message_date_time.strftime('%d/%m/%Y')}}</p>
                            </li>
                        {% endfor %}
                    </ol>
                {% else %}
                    <p><em>No unread notifications to show</em></p>
                {% endif %}
            </div>

            <div id = 'read-avail' style = 'display: none; width: 100%;'>
                {% if read_availibility_notifications != [] %}
                    <ol>
                        {% for a in read_availibility_notifications %}
                            <li>
                                <p><em><strong>Dr. {{ a.notif_doctor.doctor_name }} has provided availabilty. Book Now!</strong></em></p>
                                <p>Date: {{ a.message_date_time.strftime('%d/%m/%Y')}}</p>
                            </li>
                        {% endfor %}
                    </ol>
                {% else %}
                    <p><em>No read notifications to show</em></p>
                {% endif %}
            </div>
        </div>
    
    <script>
        var unread_admin_apt = document.getElementById('unread-admin')
        var read_admin_apt = document.getElementById('read-admin')
        var unread_doctor_apt = document.getElementById('unread-doctor')
        var read_doctor_apt = document.getElementById('read-doctor')
        var unread_availability_apt = document.getElementById('unread-avail')
        var read_availability_apt = document.getElementById('read-avail')

        function view_unread_admin_notifactions() {
        unread_admin_apt.style.display = 'block';
        read_admin_apt.style.display = 'none';
        }

        function view_read_admin_notifactions () {
        unread_admin_apt.style.display = 'none';
        read_admin_apt.style.display = 'block';
        }

        function view_unread_doctor_notifactions () {
        unread_doctor_apt.style.display = 'block';
        read_doctor_apt.style.display = 'none';
        }

        function view_read_doctor_notifactions () {
        unread_doctor_apt.style.display = 'none';
        read_doctor_apt.style.display = 'block';
        }

        function view_unread_availability_notifactions () {
        unread_availability_apt.style.display = 'block';
        read_availability_apt.style.display = 'none';
        }

        function view_read_availability_notifactions () {
        unread_availability_apt.style.display = 'none';
        read_availability_apt.style.display = 'block';
        }
    </script>

    <footer>
        &copy;  2025 LDH Hospital
    </footer>
</body>
</html>