<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Patient Dashboard</title>
        <link rel="stylesheet" href="/static/style.css">
        <script src = '/static/script.js'></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>

<body>
    <header>
        <div class = 'heading-actions'>
            <h1><a class = 'page_heading_hyperlink' href = '/patient/{{ current_user.patient_relationship.patient_id }}'>LDH Hospital</a></h1>

            <div class = 'action-buttons'>
                <div class = 'search_bar'>
                    
                    <form action = '/patient/{{ current_user.patient_relationship.patient_id }}/search' method = 'POST'>
                        <div class = 'flex-container'>  
                            <div>                          
                                <a href = '/patient/{{ current_user.patient_relationship.patient_id }}/notification-page'><i id = 'notification-bell' class="bi bi-bell-fill"></i></a>
                            </div>
                            <div class = 'search-flex-container'>
                                <div><input type = 'text' placeholder ="Enter Number or Name" name = 'query' id = 'search_bar'
                                    pattern="[\w ]{1,}" title="Please add a valid input. You can only use numbers and alphabets"></div>
                                <div><button type="submit" id = 'search-icon'><i class="bi bi-search"></i></button></div>
                            </div>                            
                            <div>
                                <a href = '/logout' onclick="ConfirmLogout()"><i id = 'logout-button' class="bi bi-box-arrow-right" style="font-size: 23px;" onclick="ConfirmLogout()"></i></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
    
    <div class = 'main-content'>
        <h2 id = 'welcome-message'>Hi! {{ current_user.patient_relationship.patient_name }}</h2>    
        <div class = 'dash-info-cards'>
            <div class = 'dash-info-card-details'>
                <div><i class="bi bi-person" style="font-size: 30px;"></i></div>
                <p style="margin-top: 0px; font-size: 15px; margin-bottom: 0px"><a class = 'dash-icon-text' href = '/patient/{{ current_user.patient_relationship.patient_id }}/profile'>Profile</a></p>
            </div>

            <div class = 'dash-info-card-details'>
                <div><i class="bi bi-journal-medical" style="font-size: 27px;"></i></div>
                <a href = '#apt'><p style="margin-top: 0px; font-size: 15px; margin-bottom: 0px" class="dash-icon-text">Appointments</p></a>
            </div>

            <div class = 'dash-info-card-details'>
                <div><i class="bi bi-calendar-heart" style="font-size: 30px;"></i></div>
                <a href = '#book-apt'><p style="margin-top: 0px; font-size: 15px; margin-bottom: 0px" class="dash-icon-text">Book an Appointment</p></a>
            </div>
        </div>
            <div style="margin-top: 50px; width: 100%;" id = 'apt'>
                <div class = 'heading-actions'>
                    <h2>Appointments</h2>
                </div>

            <div class = 'flex-profile-content' style="width: 100%; height: auto;">
                <div class = 'flex-profile-content-buttons'>
                    <div class = 'button1' onclick ="viewPatientUpcomingAppointments()" id = 'upcoming' style="background-color: #2fbb8fa8; font-weight: 600;"><a>Today ({{ appointments_today | length }})</a></div>
                    <div class = 'button1' onclick ="viewPatientPastAppointments()" id = 'past'><a>This Week ({{ appointments_this_week | length }})</a></div>
                    <div class = 'button1' onclick ="sendMessageToPatient()" id = 'message'><a>Past Appointments ({{ past_appointments | length }})</a></div>
                </div>

                <div id = 'view-upcoming-appointments' class = 'scroll-appointments'>
                    {% if appointments_today | length == 0 %}
                        <p>No appointments today</p>
                    {% else %}
                        <ol>
                            {% for a in appointments_today %}
                                <li>
                                    <div class = 'heading-actions'>
                                        <p><strong><i><a href = '/patient/view-appointment/{{ current_user.patient_relationship.patient_id }}/{{ a.schedule_id }}'>{{ a.date.strftime('%d/%m/%Y') }}</a></i></strong></p>
                                        {% if a.slot_sch_appointment_rel.t.status == 'Booked' %}
                                            <div class = 'action-buttons'>
                                                <a onclick = 'confirm_cancel_or_reschedule_appointment()' href = '/patient/{{ current_user.patient_relationship.patient_id }}/cancel-appointment/{{ a.schedule_id }}' class = 'cancel-button'>Cancel</a>
                                                <a href = '/patient/{{ current_user.patient_relationship.patient_id }}/reschedule-appointment/doctor/{{ a.slot_doctor_id }}/{{ a.schedule_id }}' class = 'availabilty-button'>Reschedule</a>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <p>Doctor Name: <a href = '/patient/{{ current_user.patient_relationship.patient_id }}/view_doctor/{{ a.slot_doctor.doctor_id }}'>{{ a.slot_doctor.doctor_name }}</a></p>
                                    <p>Department: <a href = '/patient/{{ current_user.patient_relationship.patient_id }}/view-dept/{{ a.slot_doctor.dept.department_id }}'>{{ a.slot_doctor.dept.department_name }}</a></p>
                                    <p>Slot: {{ a.s_sch.slot_time }} ({{ a.s_sch.slot_name }})</p>
                                    <p>Status: {{ a.slot_sch_appointment_rel.t.status }}</p>
                                </li>
                            {% endfor %}
                        </ol>
                    {% endif %}
                </div>

                <div id = 'view-past-appointments' style="display: none;" class = 'scroll-appointments'>
                    {% if appointments_this_week | length == 0 %}
                        <p>No appointments this week</p>
                    {% else %}
                        <ol>
                            {% for a in appointments_this_week %}
                                <li>
                                    <div class = 'heading-actions'>
                                        <p><strong><i><a href = '/patient/view-appointment/{{ current_user.patient_relationship.patient_id }}/{{ a.schedule_id }}'>{{ a.date.strftime('%d/%m/%Y') }}</a></i></strong></p>
                                        {% if a.slot_sch_appointment_rel.t.status == 'Booked' %}
                                            <div class = 'action-buttons'>
                                                <a href = '/patient/{{ current_user.patient_relationship.patient_id }}/cancel-appointment/{{ a.schedule_id }}' class = 'cancel-button'>Cancel</a>
                                                <a href = '/patient/{{ current_user.patient_relationship.patient_id }}/reschedule-appointment/doctor/{{ a.slot_doctor_id }}/{{ a.schedule_id }}' class = 'availabilty-button'>Reschedule</a>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <p>Doctor Name: <a href = '/patient/{{ current_user.patient_relationship.patient_id }}/view_doctor/{{ a.slot_doctor.doctor_id }}'>{{ a.slot_doctor.doctor_name }}</a></p>
                                    <p>Department: <a href = '/patient/{{ current_user.patient_relationship.patient_id }}/view-dept/{{ a.slot_doctor.dept.department_id }}'>{{ a.slot_doctor.dept.department_name }}</a></p>
                                    <p>Slot: {{ a.s_sch.slot_time }} ({{ a.s_sch.slot_name }})</p>
                                    <p>Status: {{ a.slot_sch_appointment_rel.t.status }}</p>
                                </li>
                            {% endfor %}
                        </ol>
                    {% endif %}
                </div>

                <div id = 'send-message-to-patient' style="display: none;" class = 'scroll-appointments'>
                    {% if past_appointments | length == 0 %}
                        <p>No Past appointments</p>
                    {% else %}
                        <ol>
                            {% for a in past_appointments %}
                                <li>
                                    <p><strong><i><a href = '/patient/view-appointment/{{ current_user.patient_relationship.patient_id }}/{{ a.schedule_id }}'>{{ a.date.strftime('%d/%m/%Y') }}</a></i></strong></p>
                                    <p>Doctor Name: <a href ='/patient/{{ current_user.patient_relationship.patient_id }}/view_doctor/{{ a.slot_doctor.doctor_id }}'>{{ a.slot_doctor.doctor_name }}</a></p>
                                    <p>Department: <a href = '/patient/{{ current_user.patient_relationship.patient_id }}/view-dept/{{ a.slot_doctor.dept.department_id }}'>{{ a.slot_doctor.dept.department_name }}</a></p>
                                    <p>Slot: {{ a.s_sch.slot_time }} ({{ a.s_sch.slot_name }})</p>
                                    <p>Status: {{ a.slot_sch_appointment_rel.t.status }}</p>
                                </li>
                            {% endfor %}
                        </ol>
                    {% endif %}
                </div>
            </div>
        </div>


        <div style="margin-top: 30px;" id = 'book-apt'>
            <div class = 'heading-actions'>
                <h2>Departments</h2>
                <div class = 'action-buttons'>
                    <a href = '/book-appointment/{{ current_user.patient_relationship.patient_id }}'  class = 'booking-button'>Book Appointment</a>
                </div>
            </div>

            <div class = 'dash-info-cards'>
                {% for d in departments %}
                    <div class = 'dash-info-card-details'>
                        <img src = '/static/images/{{ d.department_profile_picture }}.png' height="50px" alt = 'Department Picture' onclick = "hideShowDept('{{ d.department_id }}')">
                        <a id = '{{ d.department_id }}' onclick = "hideShowDept('{{ d.department_id }}')">{{d.department_name}}</a>
                    </div>
                {% endfor %}
            </div>

            <div id = 'click-to-choose'>
                <p><em>Click on any department to view their doctors and their availablility</em></p>
            </div>

            <div>
            {% for dept in departments %}
                {% if dept.doctors | length == 0 %}
                <div class = '{{ dept.department_id }} all_doctors' style = 'display: none;margin-top: 50px; width: 100%'>
                        <p>No doctors to show</p>
                    </div>
                    
                    {% else %}
                        {% for doctor in dept.doctors %}
                            <div class = '{{ doctor.dept.department_id }} all_doctors' style = 'display: none; margin-top: 50px; width: 100%'>

                                    <div class = 'wrapper'>
                                        <div class = 'profile-picture-display'>
                                            <img src = '/static/images/{{ doctor.doctor_profile_picture }}.png' alt = 'Doctor Profile Picture' width="170px">
                                            <p><strong><a href = '/patient/{{ current_user.patient_relationship.patient_id }}/view_doctor/{{ doctor.doctor_id }}'>Dr. {{ doctor.doctor_name }}</a></strong></p>                                
                                        </div>

                                        <div class = 'profile-content'>
                                            <div class = 'heading-actions'>
                                                <p><strong>Department of {{ doctor.dept.department_name }}</strong></p>
                                                <div class = 'action-buttons'>
                                                    <a class = 'booking-button' href = '/patient/{{ current_user.patient_relationship.patient_id }}/confirm-appointment/{{ doctor.doctor_id }}'>Book</a>
                                                </div>
                                            </div>
                                            <p>Contact Number: {{ doctor.doctor_contact_number }}</p>
                                            <p>Email: {{ doctor.doctor_email }}</p>
                                            <p>Description: {{ doctor.doctor_desc }}</p>
                                        </div>
                                    </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>

        </div>
    </div>
        <script>
                 
            function hideShowDept(dept_id) {
                var dept_doctors = document.getElementsByClassName(dept_id);
                var all_doc = document.getElementsByClassName('all_doctors');
                var hide_message = document.getElementById('click-to-choose');
                for (doc of all_doc) {
                    if (doc.classList.contains(dept_id)) {
                        doc.style.display = 'block';
                        hide_message.style.display = 'none';
                    }

                    else {
                        doc.style.display = 'none';
                        hide_message.style.display = 'none';
                    }
                }

            }
            var view_upcoming_appointments = document.getElementById('view-upcoming-appointments')
            var view_past_appointments = document.getElementById('view-past-appointments')
            var send_message_to_patient = document.getElementById('send-message-to-patient')
            var upcoming_color_change = document.getElementById('upcoming')
            var past_color_change = document.getElementById('past')
            var message_color_change = document.getElementById('message')

            function viewPatientUpcomingAppointments() {
                view_upcoming_appointments.style.display = 'block';
                view_past_appointments.style.display = 'none';
                send_message_to_patient.style.display = 'none';

                upcoming_color_change.style.backgroundColor = '#2fbb8fa8'
                past_color_change.style.backgroundColor = '#269873a8'
                message_color_change.style.backgroundColor = '#269873a8'

                upcoming_color_change.style.fontWeight = '600'
                past_color_change.style.fontWeight = 'normal'
                message_color_change.style.fontWeight = 'normal'
            }

            function viewPatientPastAppointments() {
                view_upcoming_appointments.style.display = 'none';
                view_past_appointments.style.display = 'block';
                send_message_to_patient.style.display = 'none';

                upcoming_color_change.style.backgroundColor = '#269873a8'
                past_color_change.style.backgroundColor = '#2fbb8fa8'
                message_color_change.style.backgroundColor = '#269873a8'

                upcoming_color_change.style.fontWeight = 'normal'
                past_color_change.style.fontWeight = '600'
                message_color_change.style.fontWeight = 'normal'
            }

            function sendMessageToPatient() {
                view_upcoming_appointments.style.display = 'none';
                view_past_appointments.style.display = 'none';
                send_message_to_patient.style.display = 'block';

                upcoming_color_change.style.backgroundColor = '#269873a8'
                past_color_change.style.backgroundColor = '#269873a8'
                message_color_change.style.backgroundColor = '#2fbb8fa8'

                upcoming_color_change.style.fontWeight = 'normal'
                past_color_change.style.fontWeight = 'normal'
                message_color_change.style.fontWeight = '600'
            }

                function confirm_cancel_or_reschedule_appointment() {
                    var result = confirm('Are you sure?');
                    if (result == false) {
                        event.preventDefault();
                    }
                }
        </script>

    <footer>
        &copy;  2025 LDH Hospital
    </footer>
</body>
</html>