<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Profile</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <header>
        <div class = 'heading-actions'>
            <h1><a class = 'page_heading_hyperlink' href = '/patient/{{ current_user.patient_relationship.patient_id }}'>LDH Hospital</a></h1>

            <div class = 'action-buttons'>
                <div class = 'search_bar'>
                    
                    <form action = '/patient/{{ current_user.patient_relationship.patient_id }}/search' method = 'POST'>
                        <div class = 'flex-container'>  
                            <div>                          
                                <a href = '/patient/{{ current_user.patient_relationship.patient_id }}/notification-page'><i id = 'notification-bell' class="bi bi-bell-fill"></i></a>
                            </div>
                            <div class = 'search-flex-container'>
                                <div><input type = 'text' placeholder ="Enter Number or Name" name = 'query' id = 'search_bar'
                                    pattern="[\w ]{1,}" title="Please add a valid input. You can only use numbers and alphabets"></div>
                                <div><button type="submit" id = 'search-icon'><i class="bi bi-search"></i></button></div>
                            </div>
                            <div>
                                <a href = '/logout'><i id = 'logout-button' class="bi bi-box-arrow-right"></i><span id = 'logout-button'>Logout</span></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>

        <div class = 'main-content' id = 'align-items-in-centre'>
            <div class = 'wrapper'>
                <div class = 'profile-picture-display' id = 'align-items-in-centre'>
                    <img src = "/static/images/{{ current_user.patient_relationship.patient_profile_picture }}.png" alt="Profile Picture" height="200px">
                    <p><strong>User Name:</strong> {{ current_user.user_name }}</p>
                </div>
            
                <div class = 'profile-content' style="width: 100%;">
                    <fieldset>
                        <div class = 'heading-actions'>
                            <h2>{{ current_user.patient_relationship.patient_name }}</h2>
                            <a href = '/patient/{{ current_user.patient_relationship.patient_id }}/profile/update' class = 'action-buttons update-button'>Update Profile</a>
                        </div>
                        <p><strong>DOB:</strong> {{ current_user.patient_relationship.patient_dob.strftime('%d/%m/%Y') }}</p>
                        <p><strong>Age:</strong> {{ age.years }} years, {{ age.months }} months, {{ age.days }} days</p>
                        <p><strong>Gender:</strong> {{ current_user.patient_relationship.patient_gender }}</p>
                        <p><strong>Email:</strong> {{ current_user.patient_relationship.patient_email }}</p>
                        <p><strong>Contact Number:</strong> {{ current_user.patient_relationship.contact_info }}</p>
                        <p><strong>Height:</strong> {{ current_user.patient_relationship.patient_height }} cm</p>
                        <p><strong>Weight:</strong> {{ current_user.patient_relationship.patient_weight }} kg</p>
                    </fieldset>
                </div>
            </div>

        </div>

    <footer>
        &copy;  2025 LDH Hospital
    </footer>
</body>
</html>