<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Patient</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <div class = 'heading-actions'>
            <h1><a class = 'page_heading_hyperlink' href = '/patient/{{ patient.patient_id }}'>LDH Hospital</a></h1>

            <div class = 'action-buttons'>
                <div class = 'search_bar'>
                    
                    <form action = '/patient/{{ patient.patient_id }}/search' method = 'POST'>
                        <div>                            <a href = '/patient/{{ patient.patient_id }}/notification-page' style="color: white; text-decoration: none;">Notifications</a>
                            <input type = 'text' list = 'search_list' placeholder ="Enter Number or Name" name = 'query'>
                            <input type ="submit" value = "Search">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>

    <div class = 'main-content'>
        <div class = 'login-container'>
            
            <h1>Register Patient</h1>
            <form action = '/register' method = 'POST'>
                <input type = 'text' name = 'u_name' placeholder ="User name*" required/>

                <input type = 'text' name = 'u_password' placeholder = "User password*" required />

                <input type = 'text' name = 'p_name' placeholder = "Patient's name*" required />

                <input type = 'text' name = 'p_age' placeholder = "Age*" required/>
                
                <input type = 'text' name = 'contact_info' placeholder = "Contact number*" required />
                
                <input type = 'text' name = 'email' placeholder = "Email"/>

                <input type = 'submit' value = 'Submit' class = 'login-button'>
            </form>
        </div>
    </div>

    <footer>
        &copy;  2025 LDH Hospital
    </footer>
</body>
</html>