<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Message to Doctor</title>
    <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <header>
        <div class = 'heading-actions'>
            <h1><a class = 'page_heading_hyperlink' href = '/patient/{{ current_user.patient_relationship.patient_id }}'>LDH Hospital</a></h1>

            <div class = 'action-buttons'>
                <div class = 'search_bar'>
                    
                    <form action = '/patient/{{ current_user.patient_relationship.patient_id }}/search' method = 'POST'>
                        <div class = 'flex-container'>  
                            <div>                          
                                <a href = '/patient/{{ current_user.patient_relationship.patient_id }}/notification-page'><i id = 'notification-bell' class="bi bi-bell-fill"></i></a>
                            </div>
                            <div class = 'search-flex-container'>
                                <div><input type = 'text' placeholder ="Enter Number or Name" name = 'query' id = 'search_bar'></div>
                                <div><button type="submit" id = 'search-icon'><i class="bi bi-search"></i></button></div>
                            </div>
                            <div>
                                <a href = '/logout'><i id = 'logout-button' class="bi bi-box-arrow-right"></i><span id = 'logout-button'>Logout</span></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>

        <div class = 'main-content'>
            <div>
                <h2 class = 'centered-headings'>Send Message to Dr. {{ doctor.doctor_name }}</h2>
            </div>

            <div class = 'main-content' id = 'align-items-in-centre'>
                <div class = 'wrapper'>
                    <div class = 'profile-picture-display'>
                        <img src = '/static/images/{{ appointment.slot_doctor.doctor_profile_picture }}.png' alt = 'Doctor Profile Picture' width="170px">
                        <p><strong>Doctor:</strong> {{ appointment.slot_doctor.doctor_name }}</p>
                        <p><strong>Department:</strong> {{ appointment.slot_doctor.dept.department_name }}</p>
                    </div>

                    <div class = 'profile-content'>
                        <div class = 'login-container'>
                            <h3>Message</h3>
                            <div>
                                <p>Name: {{ patient.patient_name }}</p>
                                <p>Date: {{ date_today.strftime('%d/%m/%Y') }}</p>
                            
                            <form action = '/patient/{{ current_user.patient_relationship.patient_id }}/messages/doctor/{{ appointment.slot_doctor.doctor_id }}/{{ appointment.schedule_id }}' method = 'POST'>
                                <div class = 'update-form-details'>
                                    <label for = 'message'>Type Your Message: </label>
                                    <input type = 'text' name = 'message' placeholder="Type Your Message" 
                                    pattern = "[\w,.\'\/\- ]{1,}"
                                    title="Please add a valid input. You can use alphabets, numbers and some special characters -'" required>
                                </div>
                                
                                <input onclick = 'confirm_posting_message()' type ="submit" value = "Send" class = 'login-button'>
                            
                                {% if warning_message == True %}
                                    <p class = 'error_message'>Please enter a valid message</p>
                                {% endif %}
                                
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <script>
        function confirm_posting_message() {
            var result = confirm('Do you want to send this message to the Doctor?');
            if (result == false) {
                event.preventDefault();
            }
        }
    </script>

    <footer>
        &copy;  2025 LDH Hospital
    </footer>
</body>
</html>