<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Doctor</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <header>
        <div class = 'heading-actions'>
            <h1>LDH Hospital</h1>

            <div class = 'action-buttons'>
                <div class = 'search_bar'>
                    
                    <form action = '/patient/{{ patient.patient_id }}/search' method = 'POST'>
                        <div>
                            <input type = 'text' list = 'search_list' placeholder ="Enter Number or Name" name = 'query'>
                            <input type ="submit" value = "Search">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>

        <div class = 'main-content'>
            <div class = 'wrapper'>
                <div class = 'profile-picture-display'>
                    <img src = "{{ url_for('static', filename = 'images/1.jpg') }}" alt="Profile Picture" height="200px" width="260px">
                    <h3>{{ doctor.doctor_name }}</h3>
                    <p>{{ doctor.dept.department_name }}</p>
                    <p>{{ doctor.doctor_desc }}</p>
                    <p>Your visits with Dr. {{ doctor.doctor_name }}: {{ appointments | length }}</p>
                    {% if past_appointments != [] %}
                        <p>Last Visit: {{ past_appointments[-1].date_time.strftime('%d/%m/%y') }}</p>
                    {% else %}
                        <p>Last Visit: --</p>
                    {% endif %}
                </div>

                <div class = 'profile-content'>
                    <div class = 'doctor-dash-view-patient-appointments'>
                        <div class = 'doctor-appointments-ribbon'>
                            <button onclick = 'hideShowThisDoctor()' class = 'view-patient-appointment-buttons'>Upcoming Appointments</button>
                            <button onclick = 'hideShowAllDoctors()' class = 'view-patient-appointment-buttons'>Past Appointments</button>
                        </div>

                        <div id = 'show-doctor-appointments'>
                            <h3>Upcoming Appointments</h3>

                            <div class = 'show-appointments'>
                                {% if upcoming_appointments | length > 0 %}
                                    <ol>
                                        {% for a in upcoming_appointments %}
                                            <li>
                                                <div class = 'list-items'>
                                                    <p><strong><i>{{ a.date_time.strftime('%d/%m/%Y') }}</i></strong></p>
                                                    <div class = 'action-buttons'>
                                                        <a class = 'buttons' href = '/doctor/cancel-appointment/{{ doctor.doctor_id }}/{{ a.t.treatment_id }}'>Cancel</a>
                                                    </div>
                                                </div>
                                                <p>Slot: {{ a.appointment_sch.s_sch.slot_time }} ({{ a.appointment_sch.s_sch.slot_name }})</p>
                                                <p>Status: {{ a.t.status }}</p>                        

                                            </li>
                                        {% endfor %}
                                    </ol>
                                {% else %}
                                    <p><em>No upcoming appointments</em></p>
                                {% endif %}
                            </div>
                        </div>

                        <div id = 'show-all-doctors-appointments' style ="display: none;">
                            <h3>Past Appointments</h3>
                            <div class = 'show-appointments'>
                                {% if past_appointments != [] %}
                                    <ol>
                                        {% for a in past_appointments %}
                                        <li>
                                            <p><strong><i>{{ a.date_time.strftime('%d/%m/%Y') }}</i></strong></p>
                                            <p>Diagnosis: {{ a.t.diagnosis }}</p>
                                            <p>Notes: {{ a.t.notes }}</p>
                                            <p>Prescription: {{ a.t.prescription }}</p>
                                            <p>Tests: {{ a.t.tests }}</p>
                                        </li>
                                        {% endfor %}
                                    </ol>
                                {% else %}
                                    <p>No appointments to show</p>
                                {% endif %}
                            </div>
                        </div>

                </div>
            </div>
        </div>

        <script>
            var this_doctor_appointments = document.getElementById('show-doctor-appointments')
            var all_doctor_appointments = document.getElementById('show-all-doctors-appointments')

            function hideShowThisDoctor() {
                this_doctor_appointments.style.display = 'block';
                all_doctor_appointments.style.display = 'none';
            }

            function hideShowAllDoctors() {
                this_doctor_appointments.style.display = 'none';
                all_doctor_appointments.style.display = 'block';
            }
        </script>

    <footer>
        &copy;  2025 LDH Hospital
    </footer>
</body>
</html>