<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Doctor</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src = '/static/script.js'></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <header>
        <div class = 'heading-actions'>
            <h1><a class = 'page_heading_hyperlink' href = '/admin'>LDH Hospital</a></h1>

            <div class = 'action-buttons'>
                <div class = 'search_bar'>
                    
                    <form action = '/admin/search' method = 'POST'>
                        <div class = 'flex-container'>  
                            <div>                          
                                <a href = '/admin/notification-page'><i id = 'notification-bell' class="bi bi-bell-fill"></i></a>
                            </div>
                            <div class = 'search-flex-container'>
                                <div><input type = 'text' placeholder ="Enter Number or Name" name = 'query' id = 'search_bar'
                                    pattern="[\w ]{1,}" title="Please add a valid input. You can only use numbers and alphabets"></div>
                                <div><button type="submit" id = 'search-icon'><i class="bi bi-search"></i></button></div>
                            </div>
                            <div>
                                <a href = '/logout' onclick="ConfirmLogout()"><i id = 'logout-button' class="bi bi-box-arrow-right" style="font-size: 23px;" ></i></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>

    <div class = 'main-content'>
        <div class = 'heading-actions'>
            <h1></h1>

            <div class = 'action-buttons'>
                <div><button class = 'back-button' onclick = 'history.back()'>Go Back</button></div>
            </div>
        </div>

        <div class = 'login-container'>
            <h1>Register Doctor</h1>
            <div class = 'form-fields'>
                <form action = '/admin/doctor/add' method = 'POST'>
                    <div></div>

                    <div class = 'update-form-details'>
                        <label for = 'u_name'>Username</label>
                        <input class = 'input_fields' type = 'text' name = 'u_name' 
                        placeholder = "Username*" maxlength="32" pattern="[\w@#$&.\-]{1,32}"
                        title="Please enter a valid username. Your username should have a minimum length of 6, and a maximum length of 32. You can only use these special characters @#$&.-_"
                        required />
                    </div>

                    <div class = 'update-form-details'>
                        <label for = 'u_password'>Password</label>
                        <input class = 'input_fields' type = 'text' name = 'u_password' 
                        placeholder = "Password*" 
                        maxlength="32" pattern="[\w@#$&.\-]{6,32}"
                        title="Please enter a valid password. Your password should have a minimum length of 6, and a maximum length of 32. You can only use these special characters @#$&.-_"
                        required />
                    </div>

                    <div class = 'update-form-details'>
                        <label for = 'd_name'>Name</label>
                        <input class = 'input_fields' type = 'text' name = 'd_name' 
                        placeholder = "Doctor's name*" 
                        maxlength="64" pattern="[\a ]{1,64}"
                        title="Please enter a valid name. Your name should have a maximum length of 64 and you can only use alphabets and space"
                        required />
                    </div>

                    <div class = 'update-form-details'>
                        <div><label for = 'gender'>Gender</label></div>
                        <div>
                            <select name = 'gender' class = 'dept-dropdown'>
                                <option value = 'Male'>Male</option>
                                <option value = 'Female'>Female</option>
                                <option value = 'prefer_not_to_say'>Prefer not say</option>
                            </select>
                        </div>
                    </div>

                    <div class = 'update-form-details'>
                        <div><label for = 'p_age'>DOB</label></div>
                        <div><input class = 'input_fields' type = 'date' name = 'd_dob' 
                            placeholder = "Date of Birth*" required/></div>
                    </div>                

                    <div class = 'update-form-details'>
                        <label for = 'contact_info'>Contact Number</label>
                        <input class = 'input_fields' type = 'text' name = 'contact_info' 
                        placeholder = "Contact number" 
                        title="Please enter a valid 10 digit number"
                        maxlength="10" minlength="10" pattern="[\d]{10}"
                        />
                    </div>

                    <div class = 'update-form-details'>
                        <label for = 'email'>Email</label>
                        <input class = 'input_fields' type = 'email' name = 'email' 
                        placeholder = "Email" />
                    </div>

                    <div class = 'update-form-details'>
                        <label for = 'desc'>Description</label>
                        <input class = 'input_fields' type = 'text' name = 'desc' 
                        pattern = "[\w\'\\\-]{1,}"
                        title="Please add a valid description. You can use alphabets, numbers and special characters _-'"
                        placeholder = "Description" />
                    </div>

                    <div class = 'update-form-details'>
                        <label for = 'dept'>Department</label>
                        <select name = 'dept' class = 'dept-dropdown'>
                            {% for d in departments %}
                                <option value = '{{d.department_name}}'>{{d.department_name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                
                    <input type = 'submit' value = 'Submit' class = 'login-button'>
                </form>
            </div>
        </div>
    </div>

    <footer>
        &copy;  2025 LDH Hospital
    </footer>
</body>
</html>