<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Department</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        <div class = 'heading-actions'>
            <h1><a href = '/admin' class = 'page_heading_hyperlink'>LDH Hospital</a></h1>

            <div class = 'action-buttons'>
                <div class = 'search_bar'>
                    
                    <form action = '/admin/search' method = 'POST'>
                        <div>
                            <input type = 'text' list = 'search_list' placeholder ="Enter ID, Number or Name" name = 'query'>
                            <input type ="submit" value = "Search">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>

    <div class = 'main-content'>
        <div class = 'login-container'>

            <div class = 'form-text'>
                <h1>Add Department</h1>
            </div>

            <div class = 'form-fields'>
                <form action = '/add_dept' method = 'POST'>

                    <input type = 'text' name = 'd_name' placeholder = 'Enter Name' style = 'height:5vh; width: 15vw;' required />
                
                    <input type = 'text' name = 'd_desc' placeholder = 'Enter Description' style="height:20vh; width:15vw;" required />

                    <input type = 'submit' value = 'Submit' class = 'login-button'>
                </form>
            </div>

        </div>
    </div>

    <footer>
        &copy;  2025 LDH Hospital
    </footer>

</body>
</html>