<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        <div class = 'heading-actions'>
            <h1><a href = '/admin' class = 'page_heading_hyperlink'>LDH Hospital</a></h1>

            <div class = 'action-buttons'>
                <div class = 'search_bar'>
                    
                    <form action = '/admin/search' method = 'POST'>
                        <div>
                            <input type = 'text' list = 'search_list' placeholder ="Enter ID, Number or Name" name = 'query'>
                            <input type ="submit" value = "Search">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
    
    <div class = 'main-content'>

        <h2 id = 'message'>Hi! {{ admin_name.admin_name }}</h2>
        <div class = 'info-cards'>

            <div class = 'info-card-details'>
                <p class = 'info-card-texts'>{{ patients | length }}</p>
                <p style="margin-top: 0px; font-size: 15px; margin-bottom: 0px">Patients</p>
            </div>

            <div class = 'info-card-details'>
                <p class = 'info-card-texts'>{{ appointments | length }}</p>
                <p style="margin-top: 0px; font-size: 15px; margin-bottom: 0px">Appointments</p>
            </div>

            <div class = 'info-card-details'>
                <p class = 'info-card-texts'>{{ doctors | length }}</p>
                <p style="margin-top: 0px; font-size: 15px; margin-bottom: 0px">Doctors</p>
            </div>            

            <div class = 'info-card-details'>
                <p class = 'info-card-texts'>{{departments_first_four | length}}</p>
                <p style="margin-top: 0px; font-size: 15px; margin-bottom: 0px">Departments</p>
            </div>

        </div>

        <div style ="margin-top: 50px;">
            <div class = 'heading-actions'>
                <h2>Patients</h2>

                <div class = 'action-buttons'>
                    <a href = '/admin/view-all-patients' class = 'buttons'>View All</a>
                    <a href = '/register' class = 'buttons'>Add</a>
                </div>
            </div>

            <table>
                <tbody>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Contact number</th>
                        <th>Email</th>
                        <th>Blacklisted</th>
                    </tr>
                    
                    {% if patients_first_five | length > 0 %}
                        {% for p in patients_first_five %}
                                <tr>
                                    <td>{{ p.patient_id }}</td>
                                    <td><a href = '/admin/patient/{{ p.patient_id }}'>{{p.patient_name}}</a></td>
                                    <td>{{ p.contact_info }}</td>
                                    <td>{{ p.patient_email }}</td>
                                    {% if p.patient_blacklisted == 0%}
                                        <td><input type = 'checkbox' disabled></td>
                                        {% else %}
                                        <td><input type = 'checkbox' disabled checked ="checked"></td>
                                    {% endif %}
                                </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        
        
        <div style ="margin-top: 50px;">
            <div class = 'heading-actions'>
                <h2>Appointments</h2>

                <div class = 'action-buttons'>
                    <a href = '/admin/view-all-appointments' class = 'buttons'>View All</a>
                    <a href = '/book-appointment' class = 'buttons'>Add</a>
                </div>
            </div>

            <table>
                <tbody>
                    <tr>
                        <th>Appointment ID</th>
                        <th>Patient</th>
                        <th>Doctor</th>
                        <th>Date</th>
                        <th>Status</th>
                    </tr>

                    {% if appointments_first_five | length > 0 %}
                        {% for a in appointments_first_five %}
                        <tr>
                            <td><a href = '/admin/appointment/{{a.patient_id}}/{{a.doctor_id}}'>{{a.appointment_id}}</a></td>
                            <td>{{a.p_ref.patient_name}}</td>
                            <td>{{a.d_ref.doctor_name}}</td>
                            <td>{{a.date_time.strftime('%d/%m/%Y')}}</td>
                            <td>{{a.t.status}}</td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>


        <div style ="margin-top: 50px;">
            <div class = 'heading-actions'>
                <h2>Doctors</h2>

                <div class = 'action-buttons'>
                    <a href = '/admin/view-all-doctors' class = 'buttons'>View All</a>
                    <a href = '/admin/doctor/add' class = 'buttons'>Add</a>
                </div>
            </div>

            <table>
                <tbody>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Contact number</th>
                        <th>Email</th>
                        <th>Department</th>
                        <th>Availablility</th>
                        <th>Blacklisted</th>
                    </tr>
                    
                    {% if doctors_first_five | length > 0 %}
                        {% for d in doctors_first_five %}
                            <tr>
                                <td>{{d.doctor_id}}</td>
                                <td><a href = '/admin/doctor/{{ d.doctor_id }}'>{{d.doctor_name}}</a></td>
                                <td>{{d.doctor_contact_number}}</td>
                                <td>{{d.doctor_email}}</td>
                                <td>{{d.dept.department_name}}</td>    
                                <td><a class = 'buttons' href = '/admin/doctor/check-availability/{{ d.doctor_id }}'>Check</a></td>
                                {% if d.doctor_blacklisted == 0%}
                                    <td><input type = 'checkbox' disabled></td>
                                    {% else %}
                                    <td><input type = 'checkbox' disabled checked ="checked"></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    {% else %}
                            <tr>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                            </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>

            
        <div style ="margin-top: 50px;"></div>
             <div class = 'heading-actions'>
                <h2>Departments</h2>

                <div class = 'action-buttons'>
                    <a href = '/all-dept'  class = 'buttons'>View All</a>
                    <a href = '/add_dept' class = 'buttons'>Add</a>
                </div>
            </div>           

            <div class = 'info-cards'>
                {% if departments_first_four %}
                    {% for d in departments_first_four %}
                        <div class = 'info-card-details'>
                            <a href = '/department/{{ d.department_id }}' class = 'info-card-texts clickable-links' id = 'dept-card'>{{d.department_name}}</a>
                        </div>
                    {% endfor %}
                {% else %}
                        <p>Add a Department now</p>
                {% endif %}
            </div>
        </div>        
    </div>

    <footer>
        &copy;  2025 LDH Hospital
    </footer>
</body>
</html>