<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Availablility</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        <div class = 'heading-actions'>
            <h1><a href = '/admin' class = 'page_heading_hyperlink'>LDH Hospital</a></h1>

            <div class = 'action-buttons'>
                <div class = 'search_bar'>
                    
                    <form action = '/admin/search' method = 'POST'>
                        <div>
                            <input type = 'text' list = 'search_list' placeholder ="Enter ID, Number or Name" name = 'query'>
                            <input type ="submit" value = "Search">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>

    <div class = 'main-content'>
        <h2>{{ doctor.doctor_name }}'s Availablility</h2>
        <table>
            <tbody>
                <tr>
                    <th>Date</th>
                    <th>Slot</th>
                </tr>

                {% for s in doctor_slots %}
                    <tr>
                        <td>{{s.date}}</td>
                        <td>{{s.s_sch.slot_time}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <footer>
        &copy;  2025 LDH Hospital
    </footer>
</body>
</html>