<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Department</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <header>
        <div class = 'heading-actions'>
            <h1><a class = 'page_heading_hyperlink' href = '/admin'>LDH Hospital</a></h1>

            <div class = 'action-buttons'>
                <div class = 'search_bar'>
                    
                    <form action = '/admin/search' method = 'POST'>
                        <div class = 'flex-container'>  
                            <div>                          
                                <a href = '/admin/notification-page'><i id = 'notification-bell' class="bi bi-bell-fill"></i></a>
                            </div>
                            <div class = 'search-flex-container'>
                                <div><input type = 'text' placeholder ="Enter Number or Name" name = 'query' id = 'search_bar'></div>
                                <div><button type="submit" id = 'search-icon'><i class="bi bi-search"></i></button></div>
                            </div>
                            <div>
                                <a href = '/logout'><i id = 'logout-button' class="bi bi-box-arrow-right"></i><span id = 'logout-button'>Logout</span></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>

        <div class = 'main-content'>
            <div class = 'flex-boxes'>
                <div class = 'flex-headings'>
                    <div id = 'center-heading' style="width: 60%;"><h2 id = 'center-heading'>Update Department</h2></div>
                    <div style="position:absolute;"><button class = 'buttons back-button' onclick = 'history.back()'>Go Back</button></div>
                </div>
            </div>

            <div class = 'login-container'>
                    <form action = '/admin/department/update/{{ department.department_id }}' method = 'POST'>

                        <div class = 'update-form-details'>
                            <div><label for = 'dept_id'>Department ID</label></div>
                            <div>
                                <input class = 'input_fields' type = 'text' name = 'dept_id' value = '{{department.department_id}}' disabled />
                            </div>
                        </div>

                        <div class = 'update-form-details'>
                            <div><label for = 'dept_name'>Department Name</label></div>
                            <div>
                                <input class = 'input_fields' type = 'text' name = 'dept_name' value = '{{department.department_name}}' 
                                maxlength="64" pattern="[\a ]{1,64}"
                                title = 'Please add a valid department name. Department name can only have alphabets and spaces'
                                placeholder = "Department Name">
                            </div>
                        </div>

                        <div class = 'update-form-details'>
                            <div><label for = 'dept_description'>Department Description</label></div>
                            <div>
                                <input class = 'input_fields' type = 'text' name = 'dept_description' value = '{{department.department_description}}' 
                                pattern="[\w@#$&-.]{1,}"
                                title = 'Please add a valid description'
                                placeholder = "Department Description" style="height:20vh;">
                            </div>
                        </div>

                        <input type = 'submit' value = "Submit" class = 'login-button'>
                    </form>
            </div>

        </div>

    <footer>
        &copy;  2025 LDH Hospital
    </footer>
    
</body>
</html>