<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Department</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <header>
        <div class = 'heading-actions'>
            <h1><a class = 'page_heading_hyperlink' href = '/admin'>LDH Hospital</a></h1>

            <div class = 'action-buttons'>
                <div class = 'search_bar'>
                    
                    <form action = '/admin/search' method = 'POST'>
                        <div class = 'flex-container'>  
                            <div>                          
                                <a href = '/admin/notification-page'><i id = 'notification-bell' class="bi bi-bell-fill"></i></a>
                            </div>
                            <div class = 'search-flex-container'>
                                <div><input type = 'text' placeholder ="Enter Number or Name" name = 'query' id = 'search_bar'></div>
                                <div><button type="submit" id = 'search-icon'><i class="bi bi-search"></i></button></div>
                            </div>
                            <div>
                                <a href = '/logout'><i id = 'logout-button' class="bi bi-box-arrow-right"></i><span id = 'logout-button'>Logout</span></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>

        <div class = 'main-content'>
            <div class = 'login-container'>
                <h1>Update Department</h1>

                <div class = 'form-fields'>
                    <form action = '/admin/department/update/{{ department.department_id }}' method = 'POST'>
                        <input type = 'text' name = 'dept_id' value = '{{department.department_id}}' style="height:3vh; width:15vw;" disabled />

                        <input type = 'text' name = 'dept_name' value = '{{department.department_name}}' placeholder = "Department Name" style="height:3vh; width:15vw;">

                        <input type = 'text' name = 'dept_description' value = '{{department.department_description}}' placeholder = "Department Description" style="height:20vh; width:15vw;">

                        <input type = 'submit' value = "Submit" class = 'login-button'>
                    </form>
                </div>
            </div>

        </div>

    <footer>
        &copy;  2025 LDH Hospital
    </footer>
    
</body>
</html>