<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Patient</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <div class = 'heading-actions'>
            <h1><a href = '/admin' class = 'page_heading_hyperlink'>LDH Hospital</a></h1>

            <div class = 'action-buttons'>
                <div class = 'search_bar'>
                    
                    <form action = '/admin/search' method = 'POST'>
                        <div>
                            <input type = 'text' list = 'search_list' placeholder ="Enter ID, Number or Name" name = 'query'>
                            <input type ="submit" value = "Search">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>

    <div class = 'main-content'>
        <div class = 'login-container'>
            <h1>Update Patient</h1>
            <form action = '/admin/patient/update/{{ pid }}' method = 'POST'>
                <input type = 'text' name = 'u_id' value = '{{ pid }}' placeholder = "ID" disabled />

                <input type = 'text' name = 'p_name' value = '{{ old_data.patient_name }}' placeholder = "Name" />

                <input type = 'text' name = 'contact_info' value = '{{ old_data.contact_info }}' placeholder = "Contact number" />

                <input type = 'text' name = 'email' value = '{{ old_data.patient_email }}' placeholder = "Email" />

                <div>
                    <span>Blacklist:</span>
                    <input type = 'checkbox' id = 'option1' name = 'blacklist' value = 'True'/>
                    <label for = 'option1'>True</label>

                    <input type = 'checkbox' id = 'option2' name = 'blacklist' value = 'False'/>
                    <label for = 'option2'>False</label><br>
                </div>

            <input type="submit" value = "Submit" class = "login-button">

            </form>
        </div>
    </div>

    <footer>
        &copy;  2025 LDH Hospital
    </footer>
    
</body>
</html>