<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All appointments</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <header>
        <div class = 'heading-actions'>
            <h1><a class = 'page_heading_hyperlink' href = '/admin'>LDH Hospital</a></h1>

            <div class = 'action-buttons'>
                <div class = 'search_bar'>
                    
                    <form action = '/admin/search' method = 'POST'>
                        <div class = 'flex-container'>  
                            <div>                          
                                <a href = '/admin/notification-page'><i id = 'notification-bell' class="bi bi-bell-fill"></i></a>
                            </div>
                            <div class = 'search-flex-container'>
                                <div><input type = 'text' placeholder ="Enter Number or Name" name = 'query' id = 'search_bar'></div>
                                <div><button type="submit" id = 'search-icon'><i class="bi bi-search"></i></button></div>
                            </div>
                            <div>
                                <a href = '/logout'><i id = 'logout-button' class="bi bi-box-arrow-right"></i><span id = 'logout-button'>Logout</span></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
        <div class = 'main-content'>
            <div class = 'heading-actions'>
                <h2>Upcoming Appointments</h2>

                <div class = 'action-buttons'>
                    <a href = '/book-appointment' class = 'buttons'>Add</a>
                </div>
            </div>

            <table>
                <tbody>
                    <tr>
                        <th>Appointment ID</th>
                        <th>Patient</th>
                        <th>Doctor</th>
                        <th>Date</th>
                    </tr>
                    {% if upcoming_appointments | length > 0 %}
                        {% for a in upcoming_appointments %}
                        <tr>
                            <td><a href = '/admin/appointment/{{a.patient_id}}/{{a.doctor_id}}'>{{a.appointment_id}}</a></td>
                            <td>{{a.p_ref.patient_name}}</td>
                            <td>{{a.d_ref.doctor_name}}</td>
                            <td>{{a.date_time.strftime('%d/%m/%Y')}}</td>
                        </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>

            <div class = 'heading-actions'>
                <h2>Past Appointments</h2>
            </div>

            <table>
                <tbody>
                    <tr>
                        <th>Appointment ID</th>
                        <th>Patient</th>
                        <th>Doctor</th>
                        <th>Date</th>
                        <th>Status</th>
                    </tr>

                    {% for a in past_appointments %}
                    <tr>
                        <td><a href = '/admin/appointment/{{a.patient_id}}/{{a.doctor_id}}'>{{a.appointment_id}}</a></td>
                        <td>{{a.p_ref.patient_name}}</td>
                        <td>{{a.d_ref.doctor_name}}</td>
                        <td>{{a.date_time.strftime('%d/%m/%Y')}}</td>
                        <td>{{a.t.status}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    <footer>
        &copy;  2025 LDH Hospital
    </footer>
</body>
</html>