<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View All Patients</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src = '/static/script.js'></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <header>
        <div class = 'heading-actions'>
            <h1><a class = 'page_heading_hyperlink' href = '/admin'>LDH Hospital</a></h1>

            <div class = 'action-buttons'>
                <div class = 'search_bar'>
                    
                    <form action = '/admin/search' method = 'POST'>
                        <div class = 'flex-container'>  
                            <div>                          
                                <a href = '/admin/notification-page'><i id = 'notification-bell' class="bi bi-bell-fill"></i></a>
                            </div>
                            <div class = 'search-flex-container'>
                                <div><input type = 'text' placeholder ="Enter Number or Name" name = 'query' id = 'search_bar'
                                    pattern="[\w ]{1,}" title="Please add a valid input. You can only use numbers and alphabets"></div>
                                <div><button type="submit" id = 'search-icon'><i class="bi bi-search"></i></button></div>
                            </div>
                            <div>
                                <a href = '/logout' onclick="ConfirmLogout()"><i id = 'logout-button' class="bi bi-box-arrow-right" style="font-size: 23px;" ></i></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>

        <div class = 'main-content'>
            <div class = 'heading-actions'>
                <h2>All Patients</h2>

                <div class = 'action-buttons'>
                    <div><button class = 'back-button' onclick = 'history.back()'>Go Back</button></div>
                </div>
            </div>

            <table>
                <tbody>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Contact number</th>
                        <th>Email</th>
                        <th>Blacklisted</th>
                    </tr>

                    {% for p in patients %}
                    <tr>
                        <td>{{ p.patient_id }}</td>
                        <td><a href = '/admin/patient/{{ p.patient_id }}'>{{ p.patient_name }}</a></td>
                        <td>{{ p.contact_info }}</td>
                        <td>{{ p.patient_email }}</td>
                        {% if p.patient_blacklisted == 0%}
                             <td><input type = 'checkbox' disabled></td>
                            {% else %}
                             <td><input type = 'checkbox' disabled checked ="checked"></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div style="width: 100%">
                <h3>Deleted Patients</h3>
            </div>

            {% if deleted_patients | length > 0 %}
                <table>
                    <tbody>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Contact number</th>
                            <th>Email</th>
                            <th>Blacklisted</th>
                        </tr>

                        {% for p in deleted_patients %}
                        <tr>
                            <td>{{ p.patient_id }}</td>
                            <td><a href = '/admin/patient/{{ p.patient_id }}'>{{ p.patient_name }}</a></td>
                            <td>{{ p.contact_info }}</td>
                            <td>{{ p.patient_email }}</td>
                            {% if p.patient_blacklisted == 0%}
                                <td><input type = 'checkbox' disabled></td>
                                {% else %}
                                <td><input type = 'checkbox' disabled checked ="checked"></td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p><em>Nothing to show here</em></p>
            {% endif %}
        </div>

    <footer>
        &copy;  2025 LDH Hospital
    </footer>
</body>
</html>