<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Patient</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1><a href = '/admin' class = 'page_heading_hyperlink'>LDH Hospital</a></h1>

        <div class = 'search_bar'>
            
            <form action = '/admin/search' method = 'POST'>
                <div>
                    <input type = 'text' list = 'search_list' placeholder ="Enter ID, Number or Name" name = 'query'>

                    <datalist id = 'search_list'>
                        {% for patient in patients %}
                            <option value = '{{patient.patient_name}}'>{{patient.patient_name}}</option>
                        {% endfor %}

                        {% for doctor in doctors %}
                            <option value = '{{doctor.doctor_name}}'>{{doctor.doctor_name}}</option>
                        {% endfor %}

                        {% for dept in departments %}
                            <option value = '{{dept.department_name}}'>{{dept.department_name}}</option>
                        {% endfor %}
                    </datalist>

                    <input type ="submit" value = "Search">
                </div>
            </form>
        </div>
    </header>

    <div class = 'main-content'>
        <div class = 'heading-actions'>
            <h2>Patient Details</h2>

            <div class = 'action-buttons'>
                <a href = '/admin/patient/update/{{ patient.patient_id }}' class = 'update-button'>Update</a>
                <a href = '/admin/patient/delete/{{ patient.patient_id }}' class = 'delete-button'>Delete</a>
            </div>
        </div>

        <table>
            <tbody>
                <tr>
                    <th>Name</th>
                    <th>Contact Number</th>
                    <th>Email</th>
                </tr>

                <tr>
                    <td>{{ patient.patient_name }}</td>
                    <td>{{ patient.contact_info }}</td>
                    <td>{{ patient.patient_email }}</td>
                </tr>
            </tbody>
        </table>

        <h2>Upcoming Appointments</h2>
        
        <table>
            <tbody>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Doctor Name</th>
                </tr>

                {% if upcoming_appointments | length > 0 %}
                    {% for a in upcoming_appointments %}
                    <tr>
                        <td>{{ a.appointment_id }}</td>
                        <td>{{ a.date_time }}</td>
                        <td><a href = '/admin/doctor/{{ a.d_ref.doctor_id }}'>{{a.d_ref.doctor_name}}</a></td>
                    </tr>
                    {% endfor %}

                {% else %}
                <tr>
                    <td>--</td>
                    <td>--</td>
                </tr>
                {% endif %}
            </tbody>
        </table>

        

        <h2>Appointment History</h2>
        <table>
            <tbody>
                <tr>
                    <th>ID</th>
                    <th>Doctor Name</th>
                    <!-- <th>Department</th> -->
                    <th>Diagnosis</th>
                    <!-- <th>Notes</th> -->
                    <th>Prescription</th>
                    <!-- <th>Tests</th> -->
                </tr>

                {% if past_appointments | length > 0 %}
                    {% for a in past_appointments %}
                        <tr>
                            <td><a href = '/admin/appointment/{{ a.patient_id }}/{{ a.doctor_id }}'>{{a.appointment_id}}</a></td>
                            <td><a href = '/admin/doctor/{{ a.d_ref.doctor_id }}'>{{a.d_ref.doctor_name}}</a></td>
                            <!-- <td>{{a.d_ref.dept.department_name}}</td> -->
                            <td>{{a.t.diagnosis}}</td>
                            <!-- <td>{{a.t.notes}}</td> -->
                            <td>{{a.t.prescription}}</td>
                            <!-- <td>{{a.t.tests}}</td> -->
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>

    <footer>
        &copy;  2025 LDH Hospital
    </footer>
</body>
</html>