<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View All Doctors</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src = '/static/script.js'></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <header>
        <div class = 'heading-actions'>
            <h1><a class = 'page_heading_hyperlink' href = '/admin'>LDH Hospital</a></h1>

            <div class = 'action-buttons'>
                <div class = 'search_bar'>
                    
                    <form action = '/admin/search' method = 'POST'>
                        <div class = 'flex-container'>  
                            <div>                          
                                <a href = '/admin/notification-page'><i id = 'notification-bell' class="bi bi-bell-fill"></i></a>
                            </div>
                            <div class = 'search-flex-container'>
                                <div><input type = 'text' placeholder ="Enter Number or Name" name = 'query' id = 'search_bar'
                                    pattern="[\w ]{1,}" title="Please add a valid input. You can only use numbers and alphabets"></div>
                                <div><button type="submit" id = 'search-icon'><i class="bi bi-search"></i></button></div>
                            </div>
                            <div>
                                <a href = '/logout' onclick="ConfirmLogout()"><i id = 'logout-button' class="bi bi-box-arrow-right" style="font-size: 23px;" ></i></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>

        <div class = 'main-content'>
            <div class = 'heading-actions'>
                <h2>All Doctors</h2>

                <div class = 'action-buttons'>
                    <div><button class = 'back-button' onclick = 'history.back()'>Go Back</button></div>
                </div>
            </div>            
            
            <table>
                <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Department</th>
                        <th>Contact Number</th>
                        <th>Email</th>
                        <th>Available</th>
                        <th>Blacklisted</th>
                    </tr>
                    
                    {% if doctors | length > 0 %}
                        {% for doctor in doctors %}
                            <tr>
                                <td><a href = '/admin/doctor/{{ doctor.doctor_id }}'>{{doctor.doctor_name}}</a></td>
                                <td>{{doctor.dept.department_name}}</td>
                                <td>{{doctor.doctor_contact_number}}</td>
                                <td>{{doctor.doctor_email}}</td>
                                <td><a href = '/admin/doctor/check-availability/{{ doctor.doctor_id  }}'>Check availability</a></td>
                                {% if doctor.doctor_blacklisted == 0%}
                                    <td><input type = 'checkbox' disabled></td>
                                    {% else %}
                                    <td><input type = 'checkbox' disabled checked ="checked"></td>
                                {% endif %}                    
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>

            <div class = 'heading-actions' style="margin-top: 15px;">
                <h3>Deleted Doctors</h3>
            </div>
                {% if deleted_doctors | length > 0 %}
                    <table>
                        <tbody>
                            <tr>
                                <th>Name</th>
                                <th>Department</th>
                                <th>Contact Number</th>
                                <th>Email</th>
                            </tr>
                        {% for doctor in deleted_doctors %}

                            <tr>
                                <td><a href = '/admin/doctor/{{ doctor.doctor_id }}'>{{doctor.doctor_name}}</a></td>
                                <td>{{doctor.dept.department_name}}</td>
                                <td>{{ doctor.doctor_contact_number }}</td>
                                <td>{{ doctor.doctor_email }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p><em>Nothing to show here</em></p>
                {% endif %}
        </div>

    <footer>
        &copy;  2025 LDH Hospital
    </footer>
</body>
</html>