<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View All Departments</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        <div class = 'heading-actions'>
            <h1><a href = '/admin' class = 'page_heading_hyperlink'>LDH Hospital</a></h1>

            <div class = 'action-buttons'>
                <div class = 'search_bar'>
                    
                    <form action = '/admin/search' method = 'POST'>
                        <div>
                            <input type = 'text' list = 'search_list' placeholder ="Enter ID, Number or Name" name = 'query'>
                            <input type ="submit" value = "Search">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>

        <div class = 'main-content'>
            <div class = 'heading-actions'>
                <h2>All Departments</h2>
            </div>
            
            <table>
                <tbody>
                    <tr>
                        <th>Department ID</th>
                        <th>Name</th>
                    </tr>

                        {% for d in departments %}
                            <tr>
                                <td>{{ d.department_id }}</td>
                                <td><a href = '/department/{{ d.department_id }}'>{{d.department_name}}</a></td>
                            </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>

        </div>

    <footer>
        &copy;  2025 LDH Hospital
    </footer>
</body>
</html>