<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Appointments</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src = '/static/script.js'></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <header>
        <div class = 'heading-actions'>
            <h1><a class = 'page_heading_hyperlink' href = '/admin'>LDH Hospital</a></h1>

            <div class = 'action-buttons'>
                <div class = 'search_bar'>
                    
                    <form action = '/admin/search' method = 'POST'>
                        <div class = 'flex-container'>  
                            <div>                          
                                <a href = '/admin/notification-page'><i id = 'notification-bell' class="bi bi-bell-fill"></i></a>
                            </div>
                            <div class = 'search-flex-container'>
                                <div><input type = 'text' placeholder ="Enter Number or Name" name = 'query' id = 'search_bar'
                                    pattern="[\w ]{1,}" title="Please add a valid input. You can only use numbers and alphabets"></div>
                                <div><button type="submit" id = 'search-icon'><i class="bi bi-search"></i></button></div>
                            </div>
                            <div>
                                <a href = '/logout' onclick="ConfirmLogout()"><i id = 'logout-button' class="bi bi-box-arrow-right" style="font-size: 23px;" onclick="ConfirmLogout()"></i></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
    
    <div class = 'main-content'>
        <div class = 'heading-actions'>
            <h2>Appointment Details</h2>

            <div class = 'action-buttons'>
                <div><button class = 'back-button' onclick = 'history.back()'>Go Back</button></div>
            </div>
        </div>

            <div class = 'flex-view-profile-content'>
                <div class = 'flex-profile-photo' id = 'doctor-profile'>
                    <img src = '/static/images/{{ doctor.doctor_profile_picture }}.png' alt = 'Doctor Image' width="200px" height="200px">
                    <div class = 'profile-content-patient-info'>

                    </div>
                </div>

                <div class = 'flex-profile-photo' id = 'patient-profile' style="display: none;">
                    <img src = '/static/images/{{ patient.patient_profile_picture }}.png' alt = 'Patient Image' width="200px" height="200px">
                    <div class = 'profile-content-patient-info'>

                    </div>
                </div>

                <div class="flex-profile-photo" id = 'appointment-photo' style="display: none;">
                    <img src = '/static/images/meds.png' alt = 'Image' height = '200px' width="200px">

                </div>

                <div class = 'flex-profile-content'>
                    <div class = 'flex-profile-content-buttons'>
                        <div class = 'button1' onclick ="viewPatientUpcomingAppointments()" id = 'upcoming' style="background-color: #2fbb8fa8; font-weight: 600;"><a>Doctor Profile</a></div>
                        <div class = 'button1' onclick ="viewPatientPastAppointments()" id = 'past'><a>Patient Profile</a></div>
                        <div class = 'button1' onclick ="sendMessageToPatient()" id = 'message'><a>Appointments</a></div>

                    </div>

                    <div id = 'view-upcoming-appointments'>
                        {% if doctor.status == None %}
                            <p><strong>Doctor Name:</strong> <a href = '/admin/doctor/{{ doctor.doctor_id }}'>{{ doctor.doctor_name }}</a></p>
                            <p><strong>Department: </strong>{{ doctor.dept .department_name}}</p>
                            <p><strong>DOB:</strong> {{ doctor.doctor_dob.strftime('%d/%m/%Y') }}</p>
                            <p><strong>Gender:</strong> {{ doctor.doctor_gender }}</p>
                            <p><strong>Contact Number:</strong> {{ doctor.doctor_contact_number }}</p>
                            <p><strong>Email:</strong> {{ doctor.doctor_email }}</p>
                        {% else %}
                            <p><em>Nothing to show</em></p>
                        {% endif %}
                    </div>

                    <div id = 'view-past-appointments' style="display: none;">
                        {% if patient.status == None %}
                            <p><strong>Patient Name:</strong> <a href = '/admin/patient/{{ patient.patient_id }}'>{{ patient.patient_name }}</a></p>
                            <p><strong>DOB:</strong> {{ patient.patient_dob.strftime('%d/%m/%Y') }}</p>
                            <p><strong>Age:</strong> {{ age.years }} years, {{ age.months }} months, {{ age.days }} days</p>
                            <p><strong>Gender:</strong> {{ patient.patient_gender }}</p>
                            <p><strong>Contact Number:</strong> {{ patient.contact_info }}</p>
                            <p><strong>Email:</strong> {{ patient.patient_email }}</p>
                        {% else %}
                            <p><em>Nothing to show</em></p>
                        {% endif %}
                    </div>

                    <div id = 'send-message-to-patient' style="display: none; height: 400px; overflow: scroll; position: fixed; width: 100%;">
                        <div>    
                            <h3>This Appointment</h3>
                            <p><strong><em>Appointment ID:</em></strong> {{ this_appointment.appointment_id }}</p>
                            <p><strong>Date:</strong> {{ this_appointment.date_time.strftime('%d/%m/%Y') }}</p>
                            <p><strong>Patient:</strong> <a href = '/admin/doctor/{{ this_appointment.d_ref.doctor_id }}'>{{ this_appointment.p_ref.patient_name }}</a></p>
                            <p><strong>Diagnosis:</strong> {{ this_appointment.t.diagnosis }}</p>
                            <p><strong>Tests:</strong> {{ this_appointment.t.notes }}</p>
                            <p><strong>Prescription:</strong> {{ this_appointment.t.prescription }}</p>
                            <p><strong>Tests:</strong> {{ this_appointment.t.tests }}</p>                       
                        </div>

                        <div>
                            <h3 style = 'margin-top: 50px'>Upcoming Appointments and Details</h3>
                            {% if upcoming_appointments | length > 0 %} 
                                <ol>
                                {% for a in upcoming_appointments %}
                                    <li>
                                        <p><strong><em>Appointment ID:</em></strong> {{ a.appointment_id }}</p>
                                        <p><strong>Date:</strong> {{ a.date_time.strftime('%d/%m/%Y') }}</p>
                                        <p><strong>Patient Name:</strong> <a href = '/admin/patient/{{ patient.patient_id }}'>{{ patient.patient_name }}</a>
                                    </li>
                                {% endfor %}
                                </ol>
                            {% else %}
                                <p><em>No upcoming appointments to show</em></p>
                            {% endif %}
                        </div>
                                        
                        <h3 style = 'margin-top: 50px'>Previous Appointments and Details</h3>
                            {% if past_appointments | length - booked_appointments | length == 0 %} 
                                <ol>
                                {% for a in past_appointments %}
                                    {% if a.t.status != 'Booked' %}
                                        <li>
                                            <p><strong><em>Appointment ID:</em></strong> {{ a.appointment_id }}</p>
                                            <p><strong>Date:</strong> {{ a.date_time.strftime('%d/%m/%Y') }}</p>
                                            <p><strong>Patient:</strong> <a href = '/admin/patient/{{ patient.patient_id }}'>{{ patient.patient_name }}</a>
                                            <p><strong>Diagnosis:</strong> {{ a.t.diagnosis }}</p>
                                            <p><strong>Tests:</strong> {{ a.t.notes }}</p>
                                            <p><strong>Prescription:</strong> {{ a.t.prescription }}</p>
                                            <p><strong>Tests:</strong> {{ a.t.tests }}</p>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                </ol>
                            {% else %}
                                <p><em>No past appointments to show</em></p>
                            {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        &copy;  2025 LDH Hospital
    </footer>

    <script>
        var view_upcoming_appointments = document.getElementById('view-upcoming-appointments')
        var view_past_appointments = document.getElementById('view-past-appointments')
        var send_message_to_patient = document.getElementById('send-message-to-patient')
        
        var upcoming_color_change = document.getElementById('upcoming')
        var past_color_change = document.getElementById('past')
        var message_color_change = document.getElementById('message')

        var doctor_profile = document.getElementById('doctor-profile')
        var patient_profile = document.getElementById('patient-profile')
        var appointment_profile = document.getElementById('appointment-photo')

        function viewPatientUpcomingAppointments() {
            view_upcoming_appointments.style.display = 'block';
            view_past_appointments.style.display = 'none';
            send_message_to_patient.style.display = 'none';

            upcoming_color_change.style.backgroundColor = '#2fbb8fa8'
            past_color_change.style.backgroundColor = '#269873a8'
            message_color_change.style.backgroundColor = '#269873a8'

            upcoming_color_change.style.fontWeight = '600'
            past_color_change.style.fontWeight = 'normal'
            message_color_change.style.fontWeight = 'normal'

            doctor_profile.style.display = 'flex'
            patient_profile.style.display = 'none';
            appointment_profile.style.display = 'none'
        }

        function viewPatientPastAppointments() {
            view_upcoming_appointments.style.display = 'none';
            view_past_appointments.style.display = 'block';
            send_message_to_patient.style.display = 'none';

            upcoming_color_change.style.backgroundColor = '#269873a8'
            past_color_change.style.backgroundColor = '#2fbb8fa8'
            message_color_change.style.backgroundColor = '#269873a8'

            upcoming_color_change.style.fontWeight = 'normal'
            past_color_change.style.fontWeight = '600'
            message_color_change.style.fontWeight = 'normal'

            doctor_profile.style.display = 'none'
            patient_profile.style.display = 'flex';
            appointment_profile.style.display = 'none'
        }

        function sendMessageToPatient() {
            view_upcoming_appointments.style.display = 'none';
            view_past_appointments.style.display = 'none';
            send_message_to_patient.style.display = 'block';
            send_message_to_patient.style.marginTop = '25px';

            upcoming_color_change.style.backgroundColor = '#269873a8'
            past_color_change.style.backgroundColor = '#269873a8'
            message_color_change.style.backgroundColor = '#2fbb8fa8'

            upcoming_color_change.style.fontWeight = 'normal'
            past_color_change.style.fontWeight = 'normal'
            message_color_change.style.fontWeight = '600'

            doctor_profile.style.display = 'none'
            patient_profile.style.display = 'none';
            appointment_profile.style.display = 'flex'
        }

    </script>
</body>
</html>