<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Doctor Dashboard</title>
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>

<body>
    <header>
        <div class = 'heading-actions'>
            <h1><a class = 'page_heading_hyperlink' href = '/doctor/{{ current_user.doctor_relationship.doctor_id }}'>LDH Hospital</a></h1>

            <div class = 'action-buttons'>
                <div class = 'search_bar'>
                    
                    <form action = '/doctor/{{ current_user.doctor_relationship.doctor_id }}/search' method = 'POST'>
                        <div class = 'flex-container'>
                            <div>
                                <a href = '/doctor/{{ current_user.doctor_relationship.doctor_id }}/notification-page'><i id = 'notification-bell' class="bi bi-bell-fill"></i></a>
                            </div>
                            <div class = 'search-flex-container'>
                                <div><input type = 'text' placeholder ="Enter Number or Name" name = 'query' id = 'search_bar'
                                    pattern="[\w ]{1,}" title="Please add a valid input. You can only use numbers and alphabets"></div>
                                <div><button type="submit" id = 'search-icon'><i class="bi bi-search"></i></button></div>
                            </div>
                            <div class = 'header-logout-button'>
                                <a href = '/logout'>
                                    <div><i id = 'logout-button' class="bi bi-box-arrow-right"></i></div>
                                    <div><span id = 'logout-button'>Logout</span></a></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
    
    <div class = 'main-content'>
        <h2 id = 'welcome-message'>Hi! Dr. {{ current_user.doctor_relationship.doctor_name }}</h2>    
        <div class = 'dash-info-cards'>

                <div class = 'dash-info-card-details'>
                    <div><i class="bi bi-person" style="font-size: 30px;"></i></div>
                    <p style="margin-top: 0px; font-size: 15px; margin-bottom: 0px"><a href = '/doctor/{{ current_user.doctor_relationship.doctor_id }}/doctor-profile' class = 'dash-icon-text'>Profile</a></p>
                </div>

                <div class = 'dash-info-card-details'>
                    <i class="bi bi-calendar-heart" style="font-size: 30px;"></i>
                    <a href = '#appointments' style="text-decoration: none;" class = 'dash-icon-text'><p style="margin-top: 0px; font-size: 15px; margin-bottom: 0px;">Appointments</p></a>
                </div>

                <div class = 'dash-info-card-details'>
                    <i class="bi bi-clipboard-pulse" style="font-size: 30px;"></i>
                    <a href = '#availabilty' style="text-decoration: none;" class = 'dash-icon-text'><p style="margin-top: 0px; font-size: 15px; margin-bottom: 0px">Availablility</p></a>
                </div>            

                <div class = 'dash-info-card-details'>
                    <i class="bi bi-people" style="font-size: 30px;"></i>
                    <a href = '#patients' style = 'text-decoration: none;'class = 'dash-icon-text'><p style="margin-top: 0px; font-size: 15px; margin-bottom: 0px">Patients</p></a>
                </div>
        </div>

        <div style ="margin-top: 50px;" id = 'appointments'>
            <div class = 'heading-actions'>
                <h2>Appointments</h2>
            </div>

            <div class = 'flex-profile-content' style="width: 100%; height: auto;">
                <div class = 'flex-profile-content-buttons'>
                    <div class = 'button1' onclick ="viewPatientUpcomingAppointments()" id = 'upcoming' style="background-color: #2fbb8fa8; font-weight: 600;"><a>Today ({{ appointments_today | length }})</a></div>
                    <div class = 'button1' onclick ="viewPatientPastAppointments()" id = 'past'><a>This Week ({{ appointments_this_week | length }})</a></div>
                    <div class = 'button1' onclick ="sendMessageToPatient()" id = 'message'><a>Past Appointments ({{ past_appointments | length }})</a></div>
                </div>

                <div id = 'view-upcoming-appointments'>
                    {% if appointments_today | length == 0 %}
                        <p>No appointments scheduled today</p>
                    {% else %}
                        <table class = 'table-margins'>
                            <tbody>
                                <tr>
                                    <th>S. No.</th>
                                    <th>Patient Name</th>
                                    <th>Slot</th>
                                    <th>Treatment Details</th>
                                </tr>

                                {% for a in appointments_today %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ a.slot_patient.patient_name }}</td>
                                        <td>{{ a.s_sch.slot_time }} ({{ a.s_sch.slot_name }})</td>
                                        <td><a style="text-decoration: none;" href = '/doctor/ongoing_appointment/{{ current_user.doctor_relationship.doctor_id }}/{{ a.schedule_id }}'>Add</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}                   
                </div>

                <div id = 'view-past-appointments' style="display: none;">
                    {% if appointments_this_week | length == 0 %}
                        <p>No appointments scheduled this week</p>
                    {% else %}
                        <table class = 'table-margins'>
                            <tbody>
                                <tr>
                                    <th>S. No.</th>
                                    <th>Date</th>
                                    <th>Patient Name</th>
                                    <th>Slot</th>
                                </tr>

                                {% for a in appointments_this_week %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ a.date.strftime('%d/%m/%Y') }}</td>
                                        <td>{{ a.slot_patient.patient_name }}</td>
                                        <td>{{ a.s_sch.slot_time }} ({{ a.s_sch.slot_name }})</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}                    
                </div>

                <div id = 'send-message-to-patient' style="display: none;">
                    {% if past_appointments | length == 0 %}
                        <p>No Past appointments</p>
                    {% else %}
                        <table class = 'table-margins'>
                            <tbody>
                                <tr>
                                    <th>S. No.</th>
                                    <th>Date</th>
                                    <th>Patient Name</th>
                                    <th>Slot</th>
                                </tr>

                                {% for a in past_appointments %}
                                    <tr>
                                        <td><a href = '/doctor/view-appointment/{{ current_user.doctor_relationship.doctor_id }}/{{ a.slot_sch_appointment_rel.t.treatment_id }}'>{{ loop.index }}</a></td>
                                        <td>{{ a.date.strftime('%d/%m/%Y') }}</td>
                                        <td>{{ a.slot_patient.patient_name }}</td>
                                        <td>{{ a.s_sch.slot_time }} ({{ a.s_sch.slot_name }})</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </div>
        </div>

        <div style = 'margin-top: 50px;' id = 'availabilty'>
            <div class = 'heading-actions'>
                <h2>Availablility</h2>

                <div class = 'action-buttons'>
                    <a href = '/doctor/provide_slots/{{ current_user.doctor_relationship.doctor_id }}' class = 'availabilty-button'>Provide Availablility</a>
                </div>

            </div>

                {% if availabilty_list | length == 0 %}
                    <p>Not provided</p>

                {% else %}
                <table>
                        <tbody>
                            <tr>
                                <th>S. No.</th>
                                <th>Date</th>
                                <th>Slot</th>
                                <th>Patients</th>
                            </tr>

                            {% for s in availabilty_list %}
                                <tr>
                                    <td><a href = '/doctor/patients-by-slot/{{ current_user.doctor_relationship.doctor_id }}/{{ s.schedule_id }}'>{{ loop.index }}</a></td>
                                    <td>{{ s.date.strftime('%d/%m/%Y') }}</td>
                                    <td>{{ s.s_sch.slot_time }} ({{ s.s_sch.slot_name }})</td>
                                    <td>{{ slot_patients_dict[s.date][s.schedule_slot_id] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                {% endif %}
        </div>

        <div style ="margin-top: 50px;" id = 'patients'>
            <div class = 'heading-actions'>
                <h2>Patients</h2>
            </div>

            <table>
                <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Contact Number</th>
                        <th>Email</th>
                    </tr>

                    {% if show_patients | length > 0 %}
                        {% for p in show_patients %}
                            <tr>
                                <td><a href = '/doctor/view-patient/{{ p.patient_id }}/{{ current_user.doctor_relationship.doctor_id }}'>{{ p.p_ref.patient_name }}</a></td>
                                <td>{{ p.p_ref.contact_info }}</td>
                                <td>{{ p.p_ref.patient_email }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                            <tr>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                            </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    <footer>
        &copy;  2025 LDH Hospital
    </footer>

    <script>
        var todays_appointments = document.getElementById('todays-appointments');
        var weeks_appointments = document.getElementById('this-weeks-appointments');
        var past_appointments = document.getElementById('past-appointments');
        var today_appointment_color_change = document.getElementById('doctor-appointments-buttons-today');
        var weeks_appointment_color_change = document.getElementById('doctor-appointments-buttons-week');
        var past_appointment_color_change = document.getElementById('doctor-appointments-buttons-past');
        
        function hideShowToday() {
            todays_appointments.style.display = 'block';
            weeks_appointments.style.display = 'none';
            past_appointments.style.display = 'none';
            today_appointment_color_change.style.backgroundColor = '#989aca';
            weeks_appointment_color_change.style.backgroundColor = '#d6d7fa';
            past_appointment_color_change.style.backgroundColor = '#d6d7fa';

        }

        function hideShowThisWeek() {
            todays_appointments.style.display = 'none';
            weeks_appointments.style.display = 'block';
            past_appointments.style.display = 'none';
            weeks_appointment_color_change.style.backgroundColor = '#989aca';
            today_appointment_color_change.style.backgroundColor = '#d6d7fa';
            past_appointment_color_change.style.backgroundColor = '#d6d7fa';
        }

        function hideShowPastAppointments() {
            todays_appointments.style.display = 'none';
            weeks_appointments.style.display = 'none';
            past_appointments.style.display = 'block';
            past_appointment_color_change.style.backgroundColor = '#989aca';
            today_appointment_color_change.style.backgroundColor = '#d6d7fa';
            weeks_appointment_color_change.style.backgroundColor = '#d6d7fa';
        }

        var view_upcoming_appointments = document.getElementById('view-upcoming-appointments')
        var view_past_appointments = document.getElementById('view-past-appointments')
        var send_message_to_patient = document.getElementById('send-message-to-patient')
        var upcoming_color_change = document.getElementById('upcoming')
        var past_color_change = document.getElementById('past')
        var message_color_change = document.getElementById('message')

        function viewPatientUpcomingAppointments() {
            view_upcoming_appointments.style.display = 'block';
            view_past_appointments.style.display = 'none';
            send_message_to_patient.style.display = 'none';

            upcoming_color_change.style.backgroundColor = '#2fbb8fa8'
            past_color_change.style.backgroundColor = '#269873a8'
            message_color_change.style.backgroundColor = '#269873a8'

            upcoming_color_change.style.fontWeight = '600'
            past_color_change.style.fontWeight = 'normal'
            message_color_change.style.fontWeight = 'normal'
        }

        function viewPatientPastAppointments() {
            view_upcoming_appointments.style.display = 'none';
            view_past_appointments.style.display = 'block';
            send_message_to_patient.style.display = 'none';

            upcoming_color_change.style.backgroundColor = '#269873a8'
            past_color_change.style.backgroundColor = '#2fbb8fa8'
            message_color_change.style.backgroundColor = '#269873a8'

            upcoming_color_change.style.fontWeight = 'normal'
            past_color_change.style.fontWeight = '600'
            message_color_change.style.fontWeight = 'normal'
        }

        function sendMessageToPatient() {
            view_upcoming_appointments.style.display = 'none';
            view_past_appointments.style.display = 'none';
            send_message_to_patient.style.display = 'block';

            upcoming_color_change.style.backgroundColor = '#269873a8'
            past_color_change.style.backgroundColor = '#269873a8'
            message_color_change.style.backgroundColor = '#2fbb8fa8'

            upcoming_color_change.style.fontWeight = 'normal'
            past_color_change.style.fontWeight = 'normal'
            message_color_change.style.fontWeight = '600'
        }

    </script>
</body>
</html>