<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Doctor Dashboard</title>
        <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        <div class = 'heading-actions'>
            <h1><a class = 'page_heading_hyperlink' href = '/doctor/{{ doctor.doctor_id }}'>LDH Hospital</a></h1>

            <div class = 'action-buttons'>
                <div class = 'search_bar'>
                    
                    <form action = '/doctor/{{ doctor.doctor_id }}/search' method = 'POST'>
                        <div>
                            <a href = '/doctor/{{ doctor.doctor_id }}/notification-page' style="color: white;text-decoration: none;">Notifications</a>
                            <input type = 'text' list = 'search_list' placeholder ="Enter ID, Number or Name" name = 'query'>
                            <input type ="submit" value = "Search">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
    
    <div class = 'main-content'>
        <h2 id = 'message'>Hi! {{ doctor.doctor_name }}</h2>    
        <div class = 'info-cards'>

                <div class = 'info-card-details'>
                    <p style="margin-top: 0px; font-size: 15px; margin-bottom: 0px"><a href = '/doctor/{{ doctor.doctor_id }}/doctor-profile'>Profile</a></p>
                </div>

                <div class = 'info-card-details'>
                    <p style="margin-top: 0px; font-size: 15px; margin-bottom: 0px">Appointments</p>
                </div>

                <div class = 'info-card-details'>
                    <p style="margin-top: 0px; font-size: 15px; margin-bottom: 0px">Availablility</p>
                </div>            

                <div class = 'info-card-details'>
                    <p style="margin-top: 0px; font-size: 15px; margin-bottom: 0px">Patients</p>
                </div>
        </div>

        <div style ="margin-top: 50px; width: 100%;">
            <div class = 'heading-actions'>
                <h2>Appointments</h2>
            </div>

            <div class = 'doctor-appointments-ribbon'>
                <button onclick = 'hideShowToday()' id = 'doctor-appointments-buttons-today' class = 'doctor-appointments-buttons' style="background-color: #989aca;">Today ({{ appointments_today | length }})</button>
                <button onclick = 'hideShowThisWeek()' id = 'doctor-appointments-buttons-week' class = 'doctor-appointments-buttons'>This Week ({{ appointments_this_week | length }})</button>
                <button onclick = 'hideShowPastAppointments()' id = 'doctor-appointments-buttons-past' class = 'doctor-appointments-buttons'>Past Appointments ({{ past_appointments | length }})</button>
            </div>

            <div id = 'todays-appointments' style = 'margin-top: 12px;'>
                {% if appointments_today | length == 0 %}
                    <p>No appointments scheduled today</p>
                {% else %}
                    <table>
                        <tbody>
                            <tr>
                                <th>S. No.</th>
                                <th>Patient Name</th>
                                <th>Slot</th>
                                <th>Treatment Details</th>
                            </tr>

                            {% for a in appointments_today %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ a.slot_patient.patient_name }}</td>
                                    <td>{{ a.s_sch.slot_time }} ({{ a.s_sch.slot_name }})</td>
                                    <td><a class = 'buttons' href = '/doctor/ongoing_appointment/{{ doctor.doctor_id }}/{{ a.schedule_id }}'>Add</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>

            <div id = 'this-weeks-appointments' style ="display: none; margin-top: 12px">
                {% if appointments_this_week | length == 0 %}
                    <p>No appointments scheduled this week</p>
                {% else %}
                    <table>
                        <tbody>
                            <tr>
                                <th>S. No.</th>
                                <th>Date</th>
                                <th>Patient Name</th>
                                <th>Slot</th>
                            </tr>

                            {% for a in appointments_this_week %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ a.date.strftime('%d/%m/%Y') }}</td>
                                    <td>{{ a.slot_patient.patient_name }}</td>
                                    <td>{{ a.s_sch.slot_time }} ({{ a.s_sch.slot_name }})</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>

            <div id = 'past-appointments' style ="display: none; margin-top: 12px;">
                {% if past_appointments | length == 0 %}
                    <p>No Past appointments</p>
                {% else %}
                    <table>
                        <tbody>
                            <tr>
                                <th>S. No.</th>
                                <th>Date</th>
                                <th>Patient Name</th>
                                <th>Slot</th>
                            </tr>

                            {% for a in past_appointments %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ a.date.strftime('%d/%m/%Y') }}</td>
                                    <td>{{ a.slot_patient.patient_name }}</td>
                                    <td>{{ a.s_sch.slot_time }} ({{ a.s_sch.slot_name }})</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>

        <div style = 'margin-top: 50px; width: 100%;'>
            <div class = 'heading-actions'>
                <h2>Availablility</h2>

                <div class = 'action-buttons'>
                    <a href = '/doctor/provide_slots/{{ doctor.doctor_id }}' class = 'buttons'>Provide Availablility</a>
                </div>

            </div>

                {% if availabilty_list | length == 0 %}
                    <p>Not provided</p>

                {% else %}
                <table>
                        <tbody>
                            <tr>
                                <th>S. No.</th>
                                <th>Date</th>
                                <th>Slot</th>
                                <th>Patients</th>
                            </tr>

                            {% for s in availabilty_list %}
                                <tr>
                                    <td><a href = '/doctor/patients-by-slot/{{ doctor.doctor_id }}/{{ s.schedule_id }}'>{{ loop.index }}</a></td>
                                    <td>{{ s.date.strftime('%d/%m/%Y') }}</td>
                                    <td>{{ s.s_sch.slot_time }} ({{ s.s_sch.slot_name }})</td>
                                    <td>{{ slot_patients_dict[s.date][s.schedule_slot_id] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                {% endif %}
        </div>

        <div style ="margin-top: 50px; width: 100%;">
            <div class = 'heading-actions'>
                <h2>Patients</h2>
            </div>

            <table>
                <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Contact Number</th>
                        <th>Email</th>
                    </tr>

                    {% if show_patients | length > 0 %}
                        {% for p in show_patients %}
                            <tr>
                                <td><a href = '/doctor/view-patient/{{ p.patient_id }}/{{ doctor.doctor_id }}'>{{ p.p_ref.patient_name }}</a></td>
                                <td>{{ p.p_ref.contact_info }}</td>
                                <td>{{ p.p_ref.patient_email }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                            <tr>
                                <td>--</td>
                                <td>--</td>
                                <td>--</td>
                            </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        
        <script>
            var todays_appointments = document.getElementById('todays-appointments');
            var weeks_appointments = document.getElementById('this-weeks-appointments');
            var past_appointments = document.getElementById('past-appointments');
            var today_appointment_color_change = document.getElementById('doctor-appointments-buttons-today');
            var weeks_appointment_color_change = document.getElementById('doctor-appointments-buttons-week');
            var past_appointment_color_change = document.getElementById('doctor-appointments-buttons-past');
            
            function hideShowToday() {
                todays_appointments.style.display = 'block';
                weeks_appointments.style.display = 'none';
                past_appointments.style.display = 'none';
                today_appointment_color_change.style.backgroundColor = '#989aca';
                weeks_appointment_color_change.style.backgroundColor = '#d6d7fa';
                past_appointment_color_change.style.backgroundColor = '#d6d7fa';

            }

            function hideShowThisWeek() {
                todays_appointments.style.display = 'none';
                weeks_appointments.style.display = 'block';
                past_appointments.style.display = 'none';
                weeks_appointment_color_change.style.backgroundColor = '#989aca';
                today_appointment_color_change.style.backgroundColor = '#d6d7fa';
                past_appointment_color_change.style.backgroundColor = '#d6d7fa';
            }

            function hideShowPastAppointments() {
                todays_appointments.style.display = 'none';
                weeks_appointments.style.display = 'none';
                past_appointments.style.display = 'block';
                past_appointment_color_change.style.backgroundColor = '#989aca';
                today_appointment_color_change.style.backgroundColor = '#d6d7fa';
                weeks_appointment_color_change.style.backgroundColor = '#d6d7fa';
            }
        </script>
    </div>

    <footer>
        &copy;  2025 LDH Hospital
    </footer>
</body>
</html>