<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Profile</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        <div class = 'heading-actions'>
            <h1>LDH Hospital</h1>

            <div class = 'action-buttons'>
                <div class = 'search_bar'>
                    
                    <form action = '/doctor/{{ doctor.doctor_id }}/search' method = 'POST'>
                        <div>
                            <input type = 'text' list = 'search_list' placeholder ="Enter ID, Number or Name" name = 'query'>
                            <input type ="submit" value = "Search">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>

        <div class = 'main-content' id = 'align-items-in-centre'>
            <div class = 'wrapper'>
                <div class = 'profile-picture-display'>
                    {% if doctor.doctor_gender == 'Male' %}
                        <img src ="{{ url_for('static',filename='images/MaleDoctor.jpg') }}" alt="Profile Picture" height="240px" width="300px">
                    {% else %}
                        <img src ="{{ url_for('static',filename='images/FemaleDoctor.jpg') }}" alt="Profile Picture" height="240px" width="300px">
                    {% endif %}
                </div>

                <div class = 'profile-content'>
                    <div class = 'heading-actions'>
                        <h2>{{ doctor.doctor_name }}</h2>
                        <a href = '/doctor/{{ doctor.doctor_id }}/doctor-profile/update' class = 'action-buttons update-button'>Update Profile</a>
                    </div>

                    <p><strong>{{ doctor.dept.department_name }}</strong></p>
                    
                    <div>
                        <span>Email: {{ doctor.doctor_email }}</span>
                        <span> &bullet; Contact Number: {{ doctor.doctor_contact_number }}</span>
                    </div>
                    <p>{{ doctor.doctor_desc }}</p>
                </div>
            </div>

        </div>

    <footer>
        &copy;  2025 LDH Hospital
    </footer>
</body>
</html>