<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Provide Availablility</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <header>
        <div class = 'heading-actions'>
            <h1><a class = 'page_heading_hyperlink' href = '/doctor/{{ current_user.doctor_relationship.doctor_id }}'>LDH Hospital</a></h1>

            <div class = 'action-buttons'>
                <div class = 'search_bar'>
                    
                    <form action = '/doctor/{{ current_user.doctor_relationship.doctor_id }}/search' method = 'POST'>
                        <div class = 'flex-container'>
                            <div>
                                <a href = '/doctor/{{ current_user.doctor_relationship.doctor_id }}/notification-page'><i id = 'notification-bell' class="bi bi-bell-fill"></i></a>
                            </div>
                            <div class = 'search-flex-container'>
                                <div><input type = 'text' placeholder ="Enter Number or Name" name = 'query' id = 'search_bar'></div>
                                <div><button type="submit" id = 'search-icon'><i class="bi bi-search"></i></button></div>
                            </div>
                            <div>
                                <a href = '/logout'><i id = 'logout-button' class="bi bi-box-arrow-right"></i><span id = 'logout-button'>Logout</span></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>

        <div class = 'main-content'>
            <div>
                <form action = '/doctor/provide_slots/{{ current_user.doctor_relationship.doctor_id }}' method="POST">
                    <div class = 'centered-headings'>
                        <h2>Provide Availablility</h2>
                    </div>
                    
                    <table>
                        <tbody>
                            <tr>
                                <th>Date</th>
                                {% for s in slots %}
                                    <th>{{ s.slot_name }}</th>
                                {% endfor %}
                            </tr>

                            <tr>
                                {% for d in list_of_next_7_dates %}
                                        <td>{{ d.strftime('%d/%m/%Y') }}</td>
                                        {% for s in slots %}
                                            {% if appointments_dict[d][s] != None %}
                                                <td><input type = 'checkbox' value = '{{ d }}' name = '{{ s.slot_id }}' checked>{{ s.slot_time }}</td>
                                            {% else %}
                                                <td><input type = 'checkbox' value = '{{ d }}' name = '{{ s.slot_id }}'>{{ s.slot_time }}</td>
                                            {% endif %}
                                        {% endfor %}
                            </tr>
                                {% endfor %}
                        </tbody>
                    </table>

                    <input type="submit" value = "Submit" class = "login-button">
                </form>
            </div>
        </div>

    <footer>
        &copy;  2025 LDH Hospital
    </footer>
</body>
</html>