<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Treatment Details</title>
    <link rel="stylesheet" href="/static/style.css">
    <script src = '/static/script.js'></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <header>
        <div class = 'heading-actions'>
            <h1><a class = 'page_heading_hyperlink' href = '/doctor/{{ current_user.doctor_relationship.doctor_id }}'>LDH Hospital</a></h1>

            <div class = 'action-buttons'>
                <div class = 'search_bar'>
                    
                    <form action = '/doctor/{{ current_user.doctor_relationship.doctor_id }}/search' method = 'POST'>
                        <div class = 'flex-container'>
                            <div>
                                <a href = '/doctor/{{ current_user.doctor_relationship.doctor_id }}/notification-page'><i id = 'notification-bell' class="bi bi-bell-fill"></i></a>
                            </div>
                            <div class = 'search-flex-container'>
                                <div><input type = 'text' placeholder ="Enter Number or Name" name = 'query' id = 'search_bar'
                                    pattern="[\w ]{1,}" title="Please add a valid input. You can only use numbers and alphabets"></div>
                                <div><button type="submit" id = 'search-icon'><i class="bi bi-search"></i></button></div>
                            </div>
                            <div>
                                <a href = '/logout' onclick="ConfirmLogout()"><i id = 'logout-button' class="bi bi-box-arrow-right" style="font-size: 23px;" onclick="ConfirmLogout()"></i></a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>

        <div class = 'main-content'>

            <div class = 'heading-actions'>
                <h2></h2>

                <div class = 'action-buttons'>
                    <div><button class = 'back-button' onclick = 'history.back()'>Go Back</button></div>
                </div>
            </div>

            <div class = 'login-container'>
                <form action = '/doctor/update-treatment-details/{{ current_user.doctor_relationship.doctor_id }}/{{ treatment.treatment_id }}' method = "POST">
                    <div></div>
                    <h1>Update Treatment Details</h1>
                    <div class = 'update-form-details'>
                        <label for = 'patient_name'>Patient Name</label>
                        <input type = 'text' name = 'patient_name' value = '{{ treatment.ap[0].p_ref.patient_name }}' disabled />
                    </div>

                    <div class = 'update-form-details'>
                        <label for = 'diagnosis'>Diagnosis</label>
                        <input class = 'input_fields' type = 'text' name = 'diagnosis' value = '{{ treatment.diagnosis }}' 
                        placeholder = "Diagnosis" title="Please add valid diagnosis. You can use alphabets, numbers and some special characters @#!$+-'"
                        pattern="[\w@#!$&+*'\/ \-]{1,}"
                        >
                    </div>

                    <div class = 'update-form-details'>
                        <label for = 'notes'>Notes</label>
                        <input class = 'input_fields' type = 'text' name = 'notes' value = '{{ treatment.notes }}' 
                        placeholder = "Notes"
                        pattern="[\w@#!$&+*'\/ \-]{1,}" title="Please add valid notes. You can use alphabets, numbers and some special characters @#!$+(-'')"
                        >
                    </div>

                    <div class = 'update-form-details'>
                        <label for = 'tests'>Tests</label>
                        <input class = 'input_fields' type = 'text' name = 'tests' value = '{{  treatment.tests }}' 
                        placeholder = "Tests"
                        pattern="[\w@#!$&+*'\/ \-]{1,}" title="Please add valid tests. You can use alphabets, numbers and some special characters @#!$+(-'')"
                        >
                    </div>

                    <div class = 'update-form-details'>
                        <label for = 'prescription'>Prescription</label>
                        <input class = 'input_fields' type = 'text' name = 'prescription' value = '{{ treatment.prescription }}' 
                        placeholder = "Prescription"
                        pattern="[\w@#!$&+*'\/ \-]{1,}" title="Please add a valid prescription. You can use alphabets, numbers and some special characters @#!$+(-'')"
                        >
                    </div>

                    <div class = 'update-form-details'>
                        <label for = 'status'>Status</label>
                        <select name = 'status' class = 'dept-dropdown'>
                            {% for option_choice in list_of_options %}
                                {% if option_choice == treatment_status %}
                                    <option value = '{{ option_choice }}' selected>{{ option_choice }}</option>
                                {% else %}
                                    <option value = '{{ option_choice }}'>{{ option_choice }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                        <fieldset style="width: 100%;">
                            <legend>Select Diet Type: </legend>
                            <div>
                                <div>
                                    {% if 'non-dairy' not in di %}
                                        <input type = 'checkbox', id = 'non-dairy', name = 'non-dairy', value = 'non-dairy'>
                                        <label for = 'non-dairy'>Non-Dairy</label>
                                    {% else %}
                                        <input type = 'checkbox', id = 'non-dairy', name = 'non-dairy', value = 'non-dairy' checked>
                                        <label for = 'non-dairy'>Non-Dairy</label>
                                    {% endif %}
                                </div>    
                                
                                <div>
                                    {% if 'dairy' not in di %}
                                        <input type = 'checkbox', id = 'dairy', name = 'dairy', value = 'dairy'>
                                        <label for = 'dairy'>Dairy</label>
                                    {% else %}
                                        <input type = 'checkbox', id = 'dairy', name = 'dairy', value = 'dairy' checked>
                                        <label for = 'dairy'>Dairy</label>
                                    {% endif %}
                                </div>

                                <div>
                                    {% if 'clear-liquid' not in di %}
                                        <input type = 'checkbox', id = 'clear-liquid', name = 'clear-liquid', value = 'clear-liquid'>
                                        <label for = 'clear-liquid'>Clear Liquid</label>
                                    {% else %}
                                        <input type = 'checkbox', id = 'clear-liquid', name = 'clear-liquid', value = 'clear-liquid' checked>
                                        <label for = 'clear-liquid'>Clear Liquid</label>
                                    {% endif %}
                                </div>

                                <div>
                                    {% if 'liquid' not in di %}
                                        <input type = 'checkbox', id = 'liquid', name = 'liquid', value = 'liquid'>
                                        <label for = 'liquid'>Liquid</label>
                                    {% else %}
                                        <input type = 'checkbox', id = 'liquid', name = 'liquid', value = 'liquid' checked>
                                        <label for = 'liquid'>Liquid</label>
                                    {% endif %}
                                </div>

                                <div>
                                    {% if 'restricted-normal' not in di %}
                                        <input type = 'checkbox', id = 'restricted-normal', name = 'restricted-normal', value = 'restricted-normal'>
                                        <label for = 'restricted-normal'>Restricted Normal</label>
                                    {% else %}
                                        <input type = 'checkbox', id = 'restricted-normal', name = 'restricted-normal', value = 'restricted-normal' checked>
                                        <label for = 'restricted-normal'>Restricted Normal</label>
                                    {% endif %}
                                </div>
                            </div>
                        </fieldset>

                    <input type ="submit" value = "Submit" class = 'login-button'>
                </form>
            </div>

        </div>

    <footer>
        &copy;  2025 LDH Hospital
    </footer>
</body>
</html>