<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Details</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
         <h1><a href = "/doctor/{{ doctor.doctor_id }}" class="page_heading_hyperlink">LDH Hospital</a></h1>
    </header>

        <div class = 'main-content'>
            <div>
                <h2 class = 'centered-headings'>Patient Details</h2>
            </div>
            
            <div style = "width: 100%;">
                    <p>Name: {{ patient.p_ref.patient_name }}</p>
                    <p>Age: {{ patient.p_ref.patient_age }}</p>
                    <p>Gender: {{ patient.p_ref.patient_gender }}</p>
                    <p>Contact Number: {{ patient.p_ref.contact_info }}</p>
                    <p>Email: {{ patient.p_ref.patient_email }}</p>
                    <p>Last Visit: {{ last_visit }}</p>
                </div>

            <h2>Upcoming Appointments</h2>

                <div class = 'show-appointments'>
                    {% if upcoming_appointments | length > 0 %}
                        <ol>
                            {% for a in upcoming_appointments %}
                                <li>
                                <div class = 'list-items'>
                                    <p><strong><i>{{ a.date_time }}</i></strong></p>
                                    <div class = 'action-buttons'>
                                        <a href = '/doctor/cancel-appointment/{{ doctor.doctor_id }}/{{ a.t.treatment_id }}'>Cancel</a>
                                    </div>
                                </div>
                                <p>Status: {{ a.t.status }}</p>                        

                                </li>
                            {% endfor %}
                        </ol>
                    {% else %}
                        <p><em>No upcoming appointments</em></p>
                    {% endif %}
                </div>

            <h2>Past Appointments</h2>
            <div class = 'show-appointments'>
                <ol>
                    {% for a in past_appointments %}
                    <li>
                        <p><strong><i>{{ a.date_time }}</i></strong></p>
                        <p>Diagnosis: {{ a.t.diagnosis }}</p>
                        <p>Notes: {{ a.t.notes }}</p>
                        <p>Prescription: {{ a.t.prescription }}</p>
                        <p>Tests: {{ a.t.tests }}</p>
                    </li>
                    {% endfor %}
                </ol>
            </div>

        </div>

    <footer>
        &copy;  2025 LDH Hospital
    </footer>
</body>
</html>