<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Patients by Slot</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        <div class = 'heading-actions'>
            <h1>LDH Hospital</h1>

            <div class = 'action-buttons'>
                <div class = 'search_bar'>
                    
                    <form action = '/doctor/{{ doctor.doctor_id }}/search' method = 'POST'>
                        <div>
                            <input type = 'text' list = 'search_list' placeholder ="Enter ID, Number or Name" name = 'query'>
                            <input type ="submit" value = "Search">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>

        <div class = 'main-content'>
            <div>
                <h2>Slot Details</h2>
                <p>Date: {{ slot.date }}</p>
                <p>Time: {{ slot.s_sch.slot_name }}</p>
            </div>

            <div class = 'show-appointments'>
                <ol>
                    {% for a in all_appointments %}
                        <li>
                            <p>Patient Name: {{ a.slot_patient.patient_name }}</p>
                            <a href = '/admin/patient/{{ a.slot_patient.patient_id }}'>Visit Patient Profile</a>
                        </li>
                    {% endfor %}
                </ol>
            </div>
        </div>

    <footer>
        &copy;  2025 LDH Hospital
    </footer>
</body>
</html>