@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

header {
    background-color: #313866;
    padding-left: 15px;
    width: 100vw;
    /* top: 0; */
    /* position: fixed; */
    margin-top: 0px;
    color: white;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.8));
    font-family: "Montserrat", sans-serif;
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    /* background-color: #faf9f9; */
    background-color: #fffcfc;
    font-family:  "Work Sans", sans-serif;
}

h1 {
    font-family: "Montserrat", sans-serif;;
}

h2 {
    align-self: flex-start;
    font-family: "Montserrat", sans-serif;
}

table {
    text-align: center;
    width: 60vw;
    background-color: white;
    /* border: 1px solid lightgray; */
    border-radius: 15px;
    border-collapse: separate;
    border-spacing: 0;
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.5));
}

tr:nth-child(odd) {
    background-color: #f0b4c734;
}

td {
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 15px;
}

th {
    background-color: #ce6a8a;
    color: white;
    font-size: 17px;
}

tr:hover {
  background-color: #f0b4c78c;
}

input {
    border: none;
    background-color: #f5eeee;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    background-color: #313866;
    /* position: fixed; */
    bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100vw;
    margin-bottom: 0px;
    color: white;
    text-align: center;
}

#dept-card {
    font-size: 17px;
}

#align-items-in-centre {
    justify-content: center;
}

.doctor-appointments-buttons {
    width: 33%;
    height: 45px;
    border-radius: 0;
    text-decoration: none;
    background-color: #d6d7fa;
    border: none; 
    cursor: pointer;
}

#message {
    align-self: center;
}

.buttons {
    text-decoration: none;
    padding: 5px;
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 10px;
    background-color: #d6d7fa;   
    border: none; 
    cursor: pointer;
}

.main-content {
    padding-bottom: 100px;
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    width: 60vw;
}

.heading-actions {
    align-self: flex-start; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.action-buttons {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    /* width: 135px; */
    /* background-color: #5DB996; */
}

.delete-button {
    text-decoration: none;
    padding: 5px;
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 10px;
    background-color: #fcd6d6;
    color: red;
    border-bottom: 1px solid #ff6d6d;
}

.update-button {
    text-decoration: none;
    padding: 5px;
    padding-left: 9px;
    padding-right: 9px;
    border-radius: 10px;
    background-color: #d6d7fa;
    color: blue;
    border-bottom: 1px solid #6d6fff;
}

.all-dept-cards {
    display: flex;
    align-self: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.dept-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    background-color: #9dafec;
    text-align: center;
    width: 30%;
    max-width: 300px;
    /* min-width: 150px; */
    height: 80px;
    border-radius: 15px;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.8))

}

.info-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    min-width: 120px;
    height: 15vh;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.8));
    background-color: #e7e7e7;
    border-radius: 15px;
    align-items: center;
    min-height: 115px;
}

.info-card-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    /* background-color: #9dafec; */
    background-color: #a5a3e8;
    text-align: center;
    width: 12vw;
    /* max-width: 300px; */
    min-width: 95px;
    height: 80px;
    border-radius: 15px;
    font-size: 15px;
    /* filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.8)) */

}

.info-card-texts {
    font-size: 40px;
    margin-bottom: 0px;
    margin-top: 0px;
}

.show-appointments {
    text-align: left;
    width: 100%;
}

.list-items {
    display: flex;
    justify-content: space-between;
}

/* for login */
.login-button {
    margin-bottom: 7px;
    margin-top: 25px;    
    border-radius: 40px;
    border: 1px;
    padding: 15px 24px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    /* background: linear-gradient(to bottom right, #EF4765, #FF9A5A); */
    /* background: linear-gradient(to bottom right, #756AB6, #AC87C5); */
    /* background: linear-gradient(to bottom right, #EF5A6F, #FF90BC); */
    /* background-color : #AE445A; */
    background-color : #da3b5a;
    /* background-color : #9c3449; */
    color: white;
    max-width: 150px;
}

.login-input {
    border: none;
    /* background-color: #D2F5E3; */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.message-container {
    /* background-color: #FFEAEA; */
    background-color: #f5cdcd;
    border-radius: 10px;
    width: 35vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-direction: column;
    min-width: 35vw;
    /* margin-top: 25vh; */
    flex-grow: 1;
}

.login-container {
    /* background-color: #FFEAEA; */
    background-color: #f5cdcd;
    border-radius: 10px;
    width: 35vw;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    min-width: 35vw;
    /* margin-top: 25vh; */
    flex-grow: 1;
}

.login-heading {
    text-align: center;
    margin-bottom: 50px;
    font-size: 50px;    
}

.error-message {
    color: red;
}

.form-text {
    font-family: "Montserrat", sans-serif;
}

.form-fields {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.clickable-links {
    text-decoration: none;
}

.search_bar {
    padding-right: 50px;
    float: right;
}

.update-form-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 280px;
}

.dept-dropdown {
    background-color: #f5eeee;
    padding: 10px;
    width:175px;
    height: 36px;
    border-radius: 10px;
    border: none;
}

.page_heading_hyperlink {
    text-decoration: none;
    color: white;
}

.doctor-appointments-ribbon {
    display: flex;
    align-items: center;
    height: 6vh;
    /* background: #d6d7fa; */
    justify-content: space-around;
    flex-direction: row;
}

.wrapper {
    display: flex;
    /* width: 100%; */
}

.profile-picture-display {
    width: 30vw;
}

.profile-content {
    /* width: 70vw; */
}

.patient-info-details {
    display: flex;
    width: 30vw;
    flex-direction: row;
    /* gap: 10px; */
    justify-content: space-between;
}

.treatment_details {
    width: 30vw;
    display: flex;
}

.treatment_details_form {
    width: 100%;
}

.treatment-form-details {
    width: 100%;
    gap: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.treatment-form-details > input {
    /* flex-grow: 1; */
    width: 320px;
}

.doctor-dash-view-patient-appointments {
    width: 350px;
}

.view-patient-appointment-buttons {
    width: 165px;
    height: 40px;
    border-radius: 0;
    text-decoration: none;
    background-color: #d6d7fa;
    border: none; 
    cursor: pointer;
}

.flex-button {
    display: flex;
    flex-grow: 1;
}

.flex-container {
    /* border: 8px solid black; */
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    /* height: 1000px */
    /* width: 80vw; */
    /* row-gap: 200px; */
    gap: 10px;
    /* flex-wrap: wrap; */
}

.search-flex-container {
    display: flex;
    justify-content: flex-start;
    gap: 0;
}

/* For Template 1 */
.flex-boxes {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.flex-headings {
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#center-heading {
    text-align: left;
    width: 100%;
}

.flex-view-profile-content {
    /* background-color:#a5a3e8; */
    width: 100%;
    /* height: 70vh; */
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.flex-profile-photo {
    width: 30%;
    /* background-color: beige; */
}

.flex-profile-content {
    width: 70%;
    /* background-color: blueviolet; */
}

.flex-profile-content-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-basis: 100%;
}

.button1 {
    display: flex;
    text-align: center;
    background-color: #d6d7fa;
    flex: 1;
    height: 5vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;;
}

.flex-message-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media(max-width: 1024px) {
    .flex-view-profile-content {
        flex-direction: column;
    }

    .flex-profile-photo {
        width: 100%;
        height: 500px;
    }

    .flex-profile-content {
        width: 100%;
        height: 800px;
    }
}