<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        <div class = 'heading-actions'>
            <h1><a href="/" style="color: white;">LDH Hospital</a></h1>
        </div>
    </header>

    <div class = 'main-content'>
        <img src = '/static/images/error.png' >
        <h3>{{ message }}</h3>
    </div>

    <footer style="position: fixed;">
        &copy;  2025 LDH Hospital
    </footer>
</body>
</html>
</body>
</html>