<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <header>
        <div class = 'heading-actions'>
            <h1><a href = '/admin' class = 'page_heading_hyperlink'>LDH Hospital</a></h1>

            <div class = 'action-buttons'>
                <div class = 'search_bar'>
                    
                    <form action = '/admin/search' method = 'POST'>
                        <div>
                            <input type = 'text' list = 'search_list' placeholder ="Enter ID, Number or Name" name = 'query'>
                            <input type ="submit" value = "Search">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>

    <div class = 'main-content'>
        <div class = 'login-container'>
            <h1 class = 'login-heading'>Login</h1> 

            <form action = '/' method = 'POST' id = 'login-form'>
                <input class = 'login-input' type = 'text'  name = 'u_name' placeholder = 'Username' required>

                <input class = 'login-input' type = 'text' name = 'u_password' placeholder = 'Password' required>

                <input type = 'submit' value = 'Submit' class = 'login-button'>
            </form>

            <p>Not a member? <a href = '/register'>Sign Up</a></p>

            {% if flag1 == True %}
                <p>Invalid username or password</p>
            {% endif %}

            {% if flag2 == True %}
                <p>User is not registered, Sign Up instead</p>
            {% endif %}
        </div>
    </div>


    <footer>
        <p>&copy;  2025 LDH Hospital</p>
    </footer>

</body>
</html>