    <div class = 'main-content'>
        <table>
            <tr>
            <th>Patient</th>
            <th>Doctor</th>
            <th>Department</th>
            </tr>

            <tr>
                <td><a href = '/admin/patient/{{ patient.patient_id }}'>{{ patient.patient_name }}</a></td>
                <td><a href = '/admin/doctor/{{ doctor.doctor_id }}'>{{ doctor.doctor_name }}</a></td>
                <td><a href = '/department/{{ doctor.dept.department_id }}'>{{ doctor.dept.department_name }}</a></td>
            </tr>
        </table>

        
        <h2>Upcoming Appointments and Details</h2>
        <table>
            <tbody>
                <tr>
                    <th>Appointment ID</th>
                    <th>Date</th>
                    <th>Status</th>
                </tr>

                {% if upcoming_appointments | length > 0 %}
                    {% for a in upcoming_appointments %}
                    <tr>
                        <td>{{ a.appointment_id }}</td>
                        <td>{{ a.date_time.strftime('%d/%m/%Y') }}</td>
                        <td>{{ a.t.status }}</td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td>--</td>
                        <td>--</td>
                        <td>--</td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    

    
        <h2>Previous Appointments and Details</h2>
        <table>
            <tbody>
                <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Diagnosis</th>
                    <th>Notes</th>
                    <th>Prescription</th>
                    <th>Tests</th>
                </tr>
                
                {% if past_appointments | length > 0 %}
                    {% for a in past_appointments %}
                        <tr>
                            <td>{{ a.appointment_id }}</td>
                            <td>{{ a.date_time.strftime('%d/%m/%Y') }}</td>
                            <td>{{ a.t.diagnosis }}</td>
                            <td>{{ a.t.notes }}</td>
                            <td>{{ a.t.prescription }}</td>
                            <td>{{ a.t.tests }}</td>
                        </tr>
                    {% endfor %}
                
                {% else %}
                        <tr>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                            <td>--</td>
                        </tr>
                {% endif %}
            </tbody>
        </table>
    </div>




admin - view department
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Department</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <header>
        <div class = 'heading-actions'>
            <h1><a href = '/admin' class = 'page_heading_hyperlink'>LDH Hospital</a></h1>

            <div class = 'action-buttons'>
                <div class = 'search_bar'>
                    
                    <form action = '/admin/search' method = 'POST'>
                        <div>
                            <input type = 'text' list = 'search_list' placeholder ="Enter ID, Number or Name" name = 'query'>
                            <input type ="submit" value = "Search">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>

    <div class = 'main-content'>
        <div class = 'heading-actions'>
            <h2>Department of {{ department.department_name }}</h2>

            {% if flag == True %}
                <div class = 'action-buttons'>
                    <a href = '/admin/department/update/{{ department.department_id }}' class = 'update-button'>Update</a>
                    <a href = '/admin/department/delete/{{ department.department_id }}' class = 'delete-button'>Delete</a>
                </div>
            {% endif %}
        </div>

        <p>{{ department.department_description }}</p>

        <h3>Our Doctors</h3>

        {% for d in department.doctors %}
            <div>
                <h3><a href = '/admin/doctor/{{ d.doctor_id }}'>{{ d.doctor_name }}</a></h3>
                <p>{{ d.doctor_desc }}</p>
            </div>
        {% endfor %}

        {% if flag == True %}
            <h3>Upcoming Appointments</h3>
                <table>
                    <tbody>
                        <tr>
                            <th>Appointment ID</th>
                            <th>Patient</th>
                            <th>Doctor</th>
                        </tr>

                            {% if upcoming_dept_appointments | length > 0 %}
                                {% for appointment in upcoming_dept_appointments %}
                                    <tr>
                                        <td><a href = '/admin/appointment/{{ appointment.patient_id }}/{{ appointment.doctor_id }}'>{{ appointment.appointment_id }}</a></td>
                                        <td>{{ appointment.p_ref.patient_name }}</td>
                                        <td>{{ appointment.d_ref.doctor_name }}</td>
                                    </tr>
                                {% endfor %}

                            {% else %}
                                <tr>
                                    <td>--</td>
                                    <td>--</td>
                                    <td>--</td>
                                </tr>
                            {% endif %}
                    </tbody>
                </table>

            <h3>Past Appointments</h3>
                <table>
                    <tbody>
                        <tr>
                            <th>Appointment ID</th>
                            <th>Patient</th>
                            <th>Doctor</th>
                        </tr>

                            {% if past_dept_appointments | length > 0 %}
                                {% for appointment in past_dept_appointments %}
                                    <tr>
                                        <td><a href = '/admin/appointment/{{ appointment.patient_id }}/{{ appointment.doctor_id }}'>{{ appointment.appointment_id }}</a></td>
                                        <td>{{ appointment.p_ref.patient_name }}</td>
                                        <td>{{ appointment.d_ref.doctor_name }}</td>
                                    </tr>
                                {% endfor %}

                            {% else %}
                                <tr>
                                    <td>--</td>
                                    <td>--</td>
                                    <td>--</td>
                                </tr>
                            {% endif %}
                    </tbody>
                </table>
            {% endif %}
    </div>

    <footer>
        &copy;  2025 LDH Hospital
    </footer>
</body>
</html>